// Colors variables
$grey-80: #262F36;
$grey-70: #3A4651;
$grey-60: #4D5E6C; // Primary
$grey-50: #607587;
$grey-40: #7D91A2;
$grey-30: #9DACB9;
$grey-20: #BEC8D1;
$grey-10: #EFF1F3;

$white-20: #F5F7F8;
$white-10: #FCFCFD;

$blue-80: #0D324A;
$blue-70: #134A70;
$blue-60: #1A6395;
$blue-50: #207CBA; // Primary
$blue-40: #389ADD;
$blue-30: #6AB3E5;
$blue-20: #9BCDEE;
$blue-10: #E6F3FB;

$green-80: #153518;
$green-70: #205023;
$green-60: #2A6A2F;
$green-50: #35853B; // Primary
$green-40: #47B350;
$green-30: #74C87A;
$green-20: #A2DAA7;
$green-10: #E8F6E9;

$red-80: #581C16;
$red-70: #83231D;
$red-60: #B12723;
$red-50: #E22A2A; // Primary
$red-40: #F06151;
$red-30: #FB8B7A;
$red-20: #FFB2A4;
$red-10: #FFECE8;

$yellow-80: #382D01;
$yellow-70: #554401;
$yellow-60: #715A02;
$yellow-50: #8D7102; // Primary
$yellow-40: #C19F17;
$yellow-30: #E8C228;
$yellow-20: #ECD166;
$yellow-10: #F9F2D2;

$driving-event-corner: #B078D9;
$driving-event-acceleration: $yellow-20;
$driving-event-brake: $red-40;

// Reset
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

textarea,
select,
input,
button {
  outline: none;
}

// Layout
.sg-wrapper {
  position: relative;
}

.sg-main {
  background: $white-10;
  // padding-top: 2rem;
  // padding-bottom: 2rem;
}

.sg-container {
  padding: 16px;

  @media (min-width: 1200px) {
    padding: 32px;
  }
}

.js .sg-sidebar {
  opacity: 0;
  position: absolute;
  top: -100%;
  -webkit-transition: opacity 0.6s ease-out;
  -moz-transition: opacity 0.6s ease-out;
  -ms-transition: opacity 0.6s ease-out;
  -o-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.js.nav-is-active .sg-sidebar {
  opacity: 1;
  position: static;
}

@media screen and (min-width: 1025px) {

  .sg-sidebar,
  .js .sg-sidebar,
  .js.nav-is-active .sg-sidebar {
    bottom: 0;
    float: left;
    font-size: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 25%;
  }

  .sg-main {
    float: right;
    width: 75%;
  }
}

// Fonts
$font-headline: 'Open Sans',
sans-serif;
$font-body: 'Open Sans',
sans-serif;
$font-mobile: 'Roboto',
sans-serif;

// Typography
body {
  color: $grey-60;
  font-family: $font-body;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 24px
  }

  @media (min-width: 1600px) {
    font-size: 18px;
    line-height: 26px
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-70;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-transform: capitalize;
}

h1 {
  border-bottom: 2px solid $grey-10;
  color: $grey-80;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  margin-top: 6rem;
  padding-bottom: 0.8rem;

  @media (min-width: 1200px) {
    font-size: 38px;
    line-height: 46px;
    margin-top: 8rem;
  }

  @media (min-width: 1600px) {
    font-size: 46px;
    line-height: 54px;
  }

  &#sg-markup-Brand {
    margin-top: 6rem;
  }
}

h2 {
  font-size: 26px;
  line-height: 34px;

  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 38px;
  }

  @media (min-width: 1600px) {
    font-size: 38px;
    line-height: 46px;
  }
}

h3 {
  font-size: 22px;
  line-height: 30px;

  @media (min-width: 1200px) {
    font-size: 26px;
    line-height: 34px;
  }

  @media (min-width: 1600px) {
    font-size: 30px;
    line-height: 38px;
  }
}

h4 {
  font-size: 20px;
  line-height: 28px;

  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: 1600px) {
    font-size: 28px;
    line-height: 36px;
  }
}

h5 {
  font-size: 18px;
  line-height: 26px;

  @media (min-width: 1200px) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (min-width: 1600px) {
    font-size: 24px;
    line-height: 32px;
  }
}

h6 {
  font-size: 16px;
  line-height: 24px;

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 26px;
  }

  @media (min-width: 1600px) {
    font-size: 20px;
    line-height: 28px;
  }
}

p {
  margin-bottom: 0.8rem;
  margin-top: 1.6rem;
}

// Nav
.sg-header {
  background: $white-10;
  position: fixed;
  z-index: 1;
}

.sg-nav-toggle {
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #7C7C7C;
  color: #fff;
  float: right;
  font-size: 16px;
  font-size: 1rem;
  padding: 5px 8px;
  /* For older browsers */
  padding: 0.3125rem 0.5rem;
  text-decoration: none;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -ms-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;

  @media screen and (min-width: 1025px) {
    display: none;
  }
}

// Link
.sg-wrapper {

  a,
  .link {
    color: $blue-50;

    &:visited {
      color: $blue-50;
    }

    &:hover,
    &.link-hover {
      color: $blue-60;
    }

    &:active,
    &.link-active,
    &:focus,
    &.link-focus {
      color: $blue-70;
    }
  }

  // Back to top link
  .sg-btn--top {
    bottom: 16px;
    position: fixed;
    right: 16px;
  }
}

// Grid
.sg-wrapper {
  .sg-sidebar {
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
  }

  .sg-main {
    @media screen and (min-width: 1200px) {
      float: right;
      width: 80%;
    }
  }
}

// Columns
.sg-main {
  .sg-sub-section {
    .col {
      display: grid;
      grid-gap: 1rem;

      @media screen and (min-width: 1200px) {
        grid-gap: 2rem;
      }

      @media screen and (min-width: 1600px) {
        grid-gap: 2.4rem;
      }

      &.col-2 {
        grid-template-columns: 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr;
        }
      }

      &.col-4 {
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      &.col-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      &.col-8 {
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }

      &.col-12 {
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }

      &.col-16 {
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}

// Sidebar
.sg-wrapper {
  .sg-sidebar {
    background: $white-20;
    color: $grey-60;
    font-size: 14px;
    line-height: 22px;
    overflow-y: auto;
    padding: 2rem;
    position: fixed;

    .logo-kt-logotype {
      background: {
        image: url("../images/logo-type-kt.svg");
        position: 50%;
        repeat: no-repeat;
        size: contain;
      }

      ;
      min-height: 32px;
    }

    .sg-h2 {
      font-size: 14px;
      line-height: 22px;
      border-bottom: 2px solid $grey-10;
      margin-bottom: 0.2rem;
      padding-bottom: 0.2rem;
    }

    .sg-nav-group {
      list-style: none;
      padding: 0;
      text-transform: capitalize;

      li {
        margin-bottom: 0;
      }

      a {
        display: block;
        padding: 4px 0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Sections
.sg-section {
  padding: 4rem 0;

  h2 {
    margin: 0;
  }

  .sg-example {
    padding: 1.6rem 0;
  }

  p {
    color: $grey-50;
  }

  // Source Code Blocks
  .sg-source {
    // Hide/Show Source Code Blocks
    display: none;
    position: relative;

    &.sg-source-active {
      display: block;
    }

    pre {
      background: $grey-80 !important;
      border-radius: 0 !important;
      color: #fff;
      overflow-x: scroll;
      padding: .8em !important;
    }

    // Copy Source Code Button
    .sg-btn--select {
      position: absolute;
      right: 8px;
      top: 8px;
      z-index: 1;
    }
  }
}

// Intro
.sg-main {
  .section-intro {
    font-size: 14px;
    line-height: 22px;

    h2 {
      border-bottom: 2px solid $grey-10;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0.4rem;
      margin-top: 0;
      padding-bottom: 0.2rem;

      @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

// Hide Source Code Blocks for some sections when it's not relevant
.sg-markup-Brand-Logo-html,
.sg-markup-Brand-color-html,
.sg-markup-Brand-font-html {
  .sg-markup-controls {
    display: none;
  }
}

// Logo
.sg-markup-Brand-Logo-html .sg-example {
  p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
  }

  // Shared
  .logo {
    background: {
      position: 0 0;
      repeat: no-repeat;
      size: contain;
    };
    min-height: 40px;
  }

  .logo-type-kt {
    background-image: url("../images/logo-type-kt.svg");
  }

  .logo-symbol-kt {
    background-image: url("../images/logo-symbol-kt.svg");
  }

  .app-icon-kt {
    background-image: url("../images/app-icon-kt.svg");
  }

  .app-avatar-kt {
    background-image: url("../images/app-avatar-kt.svg");
  }
}

// Color
.sg-markup-Brand-color-html .sg-example {
  font-size: 14px;
  line-height: 22px;

  .col.col-8 {
    grid-gap: 0;
  }

  .sg-color-dashcam-disconnect {
    font-weight: 600;


    margin-top: 0.4rem;
  }

  .sg-color-swatch {
    height: 80px;
    margin-top: 0.8rem;

    &.grey-80 {
      background: $grey-80;
    }

    &.grey-70 {
      background: $grey-70;
    }

    &.grey-60 {
      background: $grey-60;
    }

    &.grey-50 {
      background: $grey-50;
    }

    &.grey-40 {
      background: $grey-40;
    }

    &.grey-30 {
      background: $grey-30;
    }

    &.grey-20 {
      background: $grey-20;
    }

    &.grey-10 {
      background: $grey-10;
    }

    &.blue-80 {
      background: $blue-80;
    }

    &.blue-70 {
      background: $blue-70;
    }

    &.blue-60 {
      background: $blue-60;
    }

    &.blue-50 {
      background: $blue-50;
    }

    &.blue-40 {
      background: $blue-40;
    }

    &.blue-30 {
      background: $blue-30;
    }

    &.blue-20 {
      background: $blue-20;
    }

    &.blue-10 {
      background: $blue-10;
    }

    &.green-80 {
      background: $green-80;
    }

    &.green-70 {
      background: $green-70;
    }

    &.green-60 {
      background: $green-60;
    }

    &.green-50 {
      background: $green-50;
    }

    &.green-40 {
      background: $green-40;
    }

    &.green-30 {
      background: $green-30;
    }

    &.green-20 {
      background: $green-20;
    }

    &.green-10 {
      background: $green-10;
    }

    &.red-80 {
      background: $red-80;
    }

    &.red-70 {
      background: $red-70;
    }

    &.red-60 {
      background: $red-60;
    }

    &.red-50 {
      background: $red-50;
    }

    &.red-40 {
      background: $red-40;
    }

    &.red-30 {
      background: $red-30;
    }

    &.red-20 {
      background: $red-20;
    }

    &.red-10 {
      background: $red-10;
    }

    &.yellow-80 {
      background: $yellow-80;
    }

    &.yellow-70 {
      background: $yellow-70;
    }

    &.yellow-60 {
      background: $yellow-60;
    }

    &.yellow-50 {
      background: $yellow-50;
    }

    &.yellow-40 {
      background: $yellow-40;
    }

    &.yellow-30 {
      background: $yellow-30;
    }

    &.yellow-20 {
      background: $yellow-20;
    }

    &.yellow-10 {
      background: $yellow-10;
    }

    &.driving-event-corner {
      background: $driving-event-corner;
    }

    &.driving-event-acceleration {
      background: $driving-event-acceleration;
    }

    &.driving-event-brake {
      background: $driving-event-brake;
    }
  }
}

// Font
.sg-markup-Brand-font-html .sg-example {
  p {
    &.font-open-sans {
      font-family: $font-body;
    }

    &.font-roboto {
      font-family: $font-mobile;
    }

    &.font-300 {
      font-weight: 300;
    }

    &.font-400 {
      font-weight: 400;
    }

    &.font-600 {
      font-weight: 600;
    }

    &.font-700 {
      font-weight: 700;
    }

    &.font-italic {
      font-style: italic;
    }
  }
}

// Breadcrumb
.sg-markup-component-breadcrumb-html .sg-example {
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0.4rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

// Icon
.sg-markup-base-icon-html .sg-example {
  p {
    font-size: 14px;
    line-height: 22px;
  }

  .icon {
    display: inline-block;
    background: { repeat: no-repeat; }

    // 16px
    &.icon-size-16 {
      height: 16px;
      width: 16px;

      &.blank-placeholder {
        background-color: $grey-10;
      }

      &.icon-chevron-down {
        background-image: url("../images/icon/icon-chevron-down-16.svg");
      }

      &.icon-chevron-up {
        background-image: url("../images/icon/icon-chevron-up-16.svg");
      }

      &.icon-chevron-left {
        background-image: url("../images/icon/icon-chevron-left-16.svg");
      }

      &.icon-chevron-right {
        background-image: url("../images/icon/icon-chevron-right-16.svg");
      }

      &.icon-pop-up-list {
        background-image: url("../images/icon/icon-pop-up-list-16.svg");
      }

      &.icon-clear {
        background-image: url("../images/icon/icon-clear-16.svg");
      }

      &.icon-lock {
        background-image: url("../images/icon/icon-lock-16.svg");
      }

      &.icon-chevron-tiny-right {
        background-image: url("../images/icon/icon-chevron-tiny-right-16.svg");
      }

      &.icon-spacer {
        background-image: url("../images/icon/icon-spacer-16.svg");
      }

      &.icon-i {
        background-image: url("../images/icon/icon-i-16.svg");
      }

      &.icon-minimize {
        background-image: url("../images/icon/icon-minimize-16.svg");
      }

      &.icon-maximize {
        background-image: url("../images/icon/icon-maximize-16.svg");
      }

      &.icon-link {
        background-image: url("../images/icon/icon-link-16.svg");
      }

      &.icon-switch-off {
        background-image: url("../images/icon/icon-switch-off-16.svg");
      }

      &.icon-switch-on {
        background-image: url("../images/icon/icon-switch-on-16.svg");
      }
    }

    // 20px
    &.icon-size-20 {
      height: 20px;
      width: 20px;

      &.blank-placeholder {
        background-color: $grey-10;
      }

      &.icon-16-hour-exception {
        background-image: url("../images/icon/icon-16-hour-exception-20.svg");
      }

      &.icon-account-security {
        background-image: url("../images/icon/icon-account-security-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-account-security-filled-20.svg");
        }
      }

      &.icon-add {
        background-image: url("../images/icon/icon-add-20.svg");
      }

      &.icon-alerts {
        background-image: url("../images/icon/icon-alerts-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-alerts-filled-20.svg");
        }
      }

      &.icon-app-android-fill {
        background-image: url("../images/icon/icon-app-android-filled-20.svg");
      }

      &.icon-app-ios-fill {
        background-image: url("../images/icon/icon-app-ios-filled-20.svg");
      }

      &.icon-apps {
        background-image: url("../images/icon/icon-apps-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-apps-filled-20.svg");
        }
      }

      &.icon-beta {
        background-image: url("../images/icon/icon-beta-20.svg");
      }

      &.icon-broadcast {
        background-image: url("../images/icon/icon-broadcast-20.svg");
      }

      &.icon-bulb {
        background-image: url("../images/icon/icon-bulb-20.svg");
      }

      &.icon-calculator {
        background-image: url("../images/icon/icon-calculator-20.svg");
      }

      &.icon-calendar {
        background-image: url("../images/icon/icon-calendar-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-calendar-filled-20.svg");
        }
      }

      &.icon-close {
        background-image: url("../images/icon/icon-close-20.svg");
      }

      &.icon-coordinates {
        background-image: url("../images/icon/icon-coordinates-20.svg");
      }

      &.icon-close {
        background-image: url("../images/icon/icon-close-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-close-filled-20.svg");
        }
      }

      &.icon-coaching-coachable {
        background-image: url("../images/icon/icon-coaching-coachable-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-coaching-coachable-filled-20.svg");
        }
      }

      &.icon-coaching-coached {
        background-image: url("../images/icon/icon-coaching-coached-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-coaching-coached-filled-20.svg");
        }
      }

      &.icon-coaching-locked {
        background-image: url("../images/icon/icon-coaching-locked-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-coaching-locked-filled-20.svg");
        }
      }

      &.icon-coaching-pending {
        background-image: url("../images/icon/icon-coaching-pending-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-coaching-pending-filled-20.svg");
        }
      }

      &.icon-coaching-uncoachable {
        background-image: url("../images/icon/icon-coaching-uncoachable-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-coaching-uncoachable-filled-20.svg");
        }
      }

      &.icon-company {
        background-image: url("../images/icon/icon-company-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-company-filled-20.svg");
        }
      }

      &.icon-compass {
        background-image: url("../images/icon/icon-compass-20.svg");
      }

      &.icon-costs {
        background-image: url("../images/icon/icon-costs-20.svg");
      }

      &.icon-clear {
        background-image: url("../images/icon/icon-clear-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-clear-filled-20.svg");
        }
      }

      &.icon-cycle {
        background-image: url("../images/icon/icon-cycle-20.svg");
      }

      &.icon-dashcam {
        background-image: url("../images/icon/icon-dashcam-20.svg");
      }

      &.icon-dashcam-disconnect {
        background-image: url("../images/icon/icon-dashcam-disconnect-20.svg");
      }

      &.icon-dashcam-eld {
        background-image: url("../images/icon/icon-dashcam-eld-20.svg");
      }

      &.icon-dashcam-recall {
        background-image: url("../images/icon/icon-dashcam-recall-20.svg");
      }

      &.icon-dashcam-video {
        background-image: url("../images/icon/icon-dashcam-video-20.svg");
      }

      &.icon-developers {
        background-image: url("../images/icon/icon-developers-20.svg");
      }

      &.icon-diagnostics {
        background-image: url("../images/icon/icon-diagnostics-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-diagnostics-filled-20.svg");
        }
      }

      &.icon-documents {
        background-image: url("../images/icon/icon-documents-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-documents-filled-20.svg");
        }
      }

      &.icon-download {
        background-image: url("../images/icon/icon-download-20.svg");
      }

      &.icon-driver {
        background-image: url("../images/icon/icon-driver-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-driver-20-fill.svg");
        }
      }

      &.icon-location {
        background-image: url("../images/icon/icon-location-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-location-filled-20.svg");
        }
      }

      &.icon-logs {
        background-image: url("../images/icon/icon-logs-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-logs-filled-20.svg");
        }
      }

      &.icon-map {
        background-image: url("../images/icon/icon-map-20.svg");
      }

      &.icon-message {
        background-image: url("../images/icon/icon-message-20.svg");
      }

      &.icon-message-check {
        background-image: url("../images/icon/icon-message-check-20.svg");
      }

      &.icon-message-send {
        background-image: url("../images/icon/icon-message-send-20.svg");
      }

      &.icon-messages {
        background-image: url("../images/icon/icon-messages-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-messages-filled-20.svg");
        }
      }

      &.icon-minus {
        background-image: url("../images/icon/icon-minus-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-minus-filled-20.svg");
        }
      }

      &.icon-note {
        background-image: url("../images/icon/icon-note-20.svg");
      }

      &.icon-odometer {
        background-image: url("../images/icon/icon-odometer-20.svg");
      }

      &.icon-overview {
        background-image: url("../images/icon/icon-overview-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-overview-filled-20.svg");
        }
      }

      &.icon-phone {
        background-image: url("../images/icon/icon-phone-20.svg");
      }

      &.icon-phone-receiver {
        background-image: url("../images/icon/icon-phone-receiver-20.svg");
      }

      &.icon-plus {
        background-image: url("../images/icon/icon-plus-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-plus-filled-20.svg");
        }
      }

      &.icon-printer {
      background-image: url("../images/icon/icon-printer-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-printer-filled-20.svg");
        }
      }

      &.icon-proximity {
        background-image: url("../images/icon/icon-proximity-20.svg");
      }

      &.icon-receipt {
        background-image: url("../images/icon/icon-receipt-20.svg");
      }

      &.icon-refresh {
        background-image: url("../images/icon/icon-refresh-20.svg");
      }

      &.icon-remark {
        background-image: url("../images/icon/icon-remark-20.svg");
      }

      &.icon-remove {
        background-image: url("../images/icon/icon-remove-20.svg");
      }

      &.icon-reports {
      background-image: url("../images/icon/icon-reports-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-reports-filled-20.svg");
        }
      }

      &.icon-rotate {
        background-image: url("../images/icon/icon-rotate-20.svg");
      }

      &.icon-scorecard {
        background-image: url("../images/icon/icon-scorecard-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-scorecard-filled-20.svg");
        }
      }

      &.icon-search {
        background-image: url("../images/icon/icon-search-20.svg");
      }

      &.icon-settings {
        background-image: url("../images/icon/icon-settings-20.svg");
      }

      &.icon-sign {
        background-image: url("../images/icon/icon-sign-20.svg");
      }

      &.icon-slide-in {
        background-image: url("../images/icon/icon-slide-in-20.svg");
      }

      &.icon-slide-out {
        background-image: url("../images/icon/icon-slide-out-20.svg");
      }

      &.icon-speed {
        background-image: url("../images/icon/icon-speed-20.svg");
      }

      &.icon-stopwatch {
        background-image: url("../images/icon/icon-stopwatch-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-stopwatch-filled-20.svg");
        }
      }

      &.icon-tag {
        background-image: url("../images/icon/icon-tag-20.svg");
      }

      &.icon-time {
        background-image: url("../images/icon/icon-time-20.svg");
      }

      &.icon-trash {
        background-image: url("../images/icon/icon-trash-20.svg");
      }

      &.icon-unlock {
        background-image: url("../images/icon/icon-unlock-20.svg");
      }

      &.icon-upgrade {
        background-image: url("../images/icon/icon-upgrade-20.svg");
      }

      &.icon-upload {
        background-image: url("../images/icon/icon-upload-20.svg");
      }

      &.icon-vehicle {
        background-image: url("../images/icon/icon-vehicle-20.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-vehicle-filled-20.svg");
        }
      }

      // 20px map icons
      &.icon-map-event-acceleration-timeline {
        background-image: url("../images/icon/icon-map-event-acceleration-timeline-20.svg");
      }

      &.icon-map-event-brake-timeline {
        background-image: url("../images/icon/icon-map-event-brake-timeline-20.svg");
      }

      &.icon-map-event-collision-timeline {
        background-image: url("../images/icon/icon-map-event-collision-timeline-20.svg");
      }

      &.icon-map-event-corner-timeline {
        background-image: url("../images/icon/icon-map-event-corner-timeline-20.svg");
      }

      &.icon-map-event-recall-timeline {
        background-image: url("../images/icon/icon-map-event-recall-timeline-20.svg");
      }

      &.icon-map-event-speeding-timeline {
        background-image: url("../images/icon/icon-map-event-speeding-timeline-20.svg");
      }

      &.icon-map-vehicle-driving-mark {
        background-image: url("../images/icon/icon-map-vehicle-driving-mark-20.svg");
      }

      &.icon-map-vehicle-driving-mark-eld {
        background-image: url("../images/icon/icon-map-vehicle-driving-mark-eld-20.svg");
      }

    }

    // 24px
    &.icon-size-24 {
      height: 24px;
      width: 24px;

      &.blank-placeholder {
        background-color: $grey-10;
      }

      &.icon-avatar {
        background-image: url("../images/icon/icon-avatar-24.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-avatar-filled-24.svg");
        }
      }

      &.icon-clock {
        background-image: url("../images/icon/icon-clock-24.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-clock-filled-24.svg");
        }
      }

      &.icon-close {
        background-image: url("../images/icon/icon-close-24.svg");
      }

      &.icon-clear {
        background-image: url("../images/icon/icon-clear-24.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-clear-filled-24.svg");
        }
      }

      &.icon-exchange {
        background-image: url("../images/icon/icon-exchange-24.svg");
      }

      &.icon-event-acceleration {
        background-image: url("../images/icon/icon-event-acceleration-24.svg");
      }

      &.icon-event-brake {
        background-image: url("../images/icon/icon-event-brake-24.svg");
      }

      &.icon-event-collision {
        background-image: url("../images/icon/icon-event-collision-24.svg");
      }

      &.icon-event-corner {
        background-image: url("../images/icon/icon-event-corner-24.svg");
      }

      &.icon-event-pause {
        background-image: url("../images/icon/icon-event-pause-24.svg");
      }

      &.icon-event-play {
        background-image: url("../images/icon/icon-event-play-24.svg");
      }

      &.icon-event-recall {
        background-image: url("../images/icon/icon-event-recall-24.svg");
      }

      &.icon-event-speeding {
        background-image: url("../images/icon/icon-event-speeding-24.svg");
      }

      &.icon-minus {
        background-image: url("../images/icon/icon-minus-24.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-minus-filled-24.svg");
        }
      }

      &.icon-plus {
        background-image: url("../images/icon/icon-plus-24.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-plus-filled-24.svg");
        }
      }

      &.icon-redo {
        background-image: url("../images/icon/icon-redo-24.svg");
      }

      &.icon-referral {
        background-image: url("../images/icon/icon-referral-24.svg");
      }

      &.icon-undo {
        background-image: url("../images/icon/icon-undo-24.svg");
      }

      // 24px map icons
      &.icon-map-event-acceleration-active {
        background-image: url("../images/icon/icon-map-event-acceleration-active-24.svg");
      }

      &.icon-map-event-acceleration-inactive {
        background-image: url("../images/icon/icon-map-event-acceleration-inactive-24.svg");
      }

      &.icon-map-event-brake-active {
        background-image: url("../images/icon/icon-map-event-brake-active-24.svg");
      }

      &.icon-map-event-brake-inactive {
        background-image: url("../images/icon/icon-map-event-brake-inactive-24.svg");
      }

      &.icon-map-event-collision-active {
        background-image: url("../images/icon/icon-map-event-collision-active-24.svg");
      }

      &.icon-map-event-collision-inactive {
        background-image: url("../images/icon/icon-map-event-collision-inactive-24.svg");
      }

      &.icon-map-event-corner-active {
        background-image: url("../images/icon/icon-map-event-corner-active-24.svg");
      }

      &.icon-map-event-corner-inactive {
        background-image: url("../images/icon/icon-map-event-corner-inactive-24.svg");
      }

      &.icon-map-event-recall-active {
        background-image: url("../images/icon/icon-map-event-recall-active-24.svg");
      }

      &.icon-map-event-recall-inactive {
        background-image: url("../images/icon/icon-map-event-recall-inactive-24.svg");
      }

      &.icon-map-event-speeding-active {
        background-image: url("../images/icon/icon-map-event-speeding-active-24.svg");
      }

      &.icon-map-event-speeding-inactive {
        background-image: url("../images/icon/icon-map-event-speeding-inactive-24.svg");
      }

      &.icon-map-vehicle-disabled {
        background-image: url("../images/icon/icon-map-vehicle-disabled-24.svg");
      }

      &.icon-map-vehicle-driving {
        background-image: url("../images/icon/icon-map-vehicle-driving-24.svg");
      }

      &.icon-map-vehicle-driving-direction {
        background-image: url("../images/icon/icon-map-vehicle-driving-direction-24.svg");
      }

      &.icon-map-vehicle-stationary {
        background-image: url("../images/icon/icon-map-vehicle-stationary-24.svg");
      }

      // 24px overlay icons
      &.icon-overlay-compass-dynamic {
        background-image: url("../images/icon/icon-overlay-compass-dynamic-24.svg");
      }

      &.icon-overlay-cross {
        background-image: url("../images/icon/icon-overlay-cross-24.svg");
      }

      &.icon-overlay-redo {
        background-image: url("../images/icon/icon-overlay-redo-24.svg");
      }

      &.icon-overlay-undo {
        background-image: url("../images/icon/icon-overlay-undo-24.svg");
      }

      &.icon-overlay-video-download {
        background-image: url("../images/icon/icon-overlay-video-download-24.svg");
      }

      &.icon-overlay-video-fullscreen {
        background-image: url("../images/icon/icon-overlay-video-fullscreen-24.svg");
      }

    }

    // 120px
    &.icon-size-120 {
      height: 120px;
      width: 120px;

      &.icon-alerts {
        background-image: url("../images/icon/icon-alerts-120.svg");
      }

      &.icon-archive {
        background-image: url("../images/icon/icon-archive-120.svg");
      }

      &.icon-dashcam {
        background-image: url("../images/icon/icon-dashcam-120.svg");
      }

      &.icon-dashcam-recall {
        background-image: url("../images/icon/icon-dashcam-recall-120.svg");
      }

      &.icon-developers {
        background-image: url("../images/icon/icon-developers-120.svg");
      }

      &.icon-driver {
        background-image: url("../images/icon/icon-driver-120.svg");
      }

      &.icon-driver-add {
        background-image: url("../images/icon/icon-driver-add-120.svg");
      }

      &.icon-driver-invite {
        background-image: url("../images/icon/icon-driver-invite-120.svg");
      }

      &.icon-error {
        background-image: url("../images/icon/icon-error-120.svg");
      }

      &.icon-file {
        background-image: url("../images/icon/icon-file-120.svg");
      }

      &.icon-file-import {
        background-image: url("../images/icon/icon-file-import-120.svg");
      }

      &.icon-file-upload {
        background-image: url("../images/icon/icon-file-upload-120.svg");
      }

      &.icon-geofencing {
        background-image: url("../images/icon/icon-geofencing-120.svg");
      }

      &.icon-group {
        background-image: url("../images/icon/icon-group-120.svg");
      }

      &.icon-ifta {
        background-image: url("../images/icon/icon-ifta-120.svg");
      }

      &.icon-location {
        background-image: url("../images/icon/icon-location-120.svg");
      }

      &.icon-location-no {
        background-image: url("../images/icon/icon-location-no-120.svg");
      }

      &.icon-log-suggestion-pending {
        background-image: url("../images/icon/icon-log-suggestion-pending-120.svg");
      }

      &.icon-messages {
        background-image: url("../images/icon/icon-messages-120.svg");
      }

      &.icon-overview {
        background-image: url("../images/icon/icon-overview-120.svg");
      }

      &.icon-phone {
        background-image: url("../images/icon/icon-phone-120.svg");
      }

      &.icon-record {
        background-image: url("../images/icon/icon-record-120.svg");
      }

      &.icon-reports {
        background-image: url("../images/icon/icon-reports-120.svg");
      }

      &.icon-reports-locked {
        background-image: url("../images/icon/icon-reports-locked-120.svg");
      }

      &.icon-request-pending {
        background-image: url("../images/icon/icon-request-pending-120.svg");
      }

      &.icon-scorecards {
        background-image: url("../images/icon/icon-scorecards-120.svg");
      }

      &.icon-scorecards-new {
        background-image: url("../images/icon/icon-scorecards-new-120.svg");
      }

      &.icon-search {
        background-image: url("../images/icon/icon-search-120.svg");
      }

      &.icon-signature {
        background-image: url("../images/icon/icon-signature-120.svg");
      }

      &.icon-stopwatch {
        background-image: url("../images/icon/icon-stopwatch-120.svg");
      }

      &.icon-success {
        background-image: url("../images/icon/icon-success-120.svg");
      }

      &.icon-sucess-wait {
        background-image: url("../images/icon/icon-success-wait-120.svg");
      }

      &.icon-unknown {
        background-image: url("../images/icon/icon-unknown-120.svg");
      }

      &.icon-vehicle {
        background-image: url("../images/icon/icon-vehicle-120.svg");
      }

      &.icon-video-pending {
        background-image: url("../images/icon/icon-video-pending-120.svg");
      }

      &.icon-warning {
        background-image: url("../images/icon/icon-warning-120.svg");
      }

      &.icon-wrench {
        background-image: url("../images/icon/icon-wrench-120.svg");
      }

      //120px map
      &.icon-overlay-play {
        background-image: url("../images/icon/icon-overlay-play-120.svg");
      }

    }
  }
}

// Link
.sg-markup-base-link-html .sg-example {
  .link {
    &.link-disabled {
      color: $blue-20;
    }

    &.link-subtle {
      color: $grey-50;

      &.link-hover {
        color: $grey-60;
      }

      &.link-active,
      &.link-focus {
        color: $grey-70;
      }

      &.link-disabled {
        color: $grey-20;
      }
    }

    &.link-delete {
      color: $red-50;

      &.link-hover {
        color: $red-60;
      }

      &.link-active,
      &.link-focus {
        color: $red-70;
      }

      &.link-disabled {
        color: $red-20;
      }
    }
  }
}

// Type
.sg-markup-base-type-html .sg-example {
  h1 {
    margin: 0 0 2.4rem 0;
  }

  h2 {
    margin: 4rem 0 2rem 0;
  }

  h3 {
    margin: 3rem 0 1.5rem 0;
  }

  h4 {
    margin: 2rem 0 1rem 0;
  }

  h5 {
    margin: 2rem 0 1rem 0;
  }

  h6 {
    margin: 2rem 0 1rem 0;
  }

  ol,
  ul {
    margin: 0;
    padding: 0 0 0 1.6rem;

    ol,
    ul {

      margin: 0.4rem 0;
    }
  }
}

// Button
.sg-markup-base-button-html .sg-example {
  .col {
    margin-bottom: 1.6rem;

    &.col-8 {

      // Make first column double the width
      @media screen and (min-width: 1200px) {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      &.button-variants {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
      }
    }
  }

  p.col-header {
    font-size: 12px;
  }

  .button {
    background: $blue-50;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    color: $blue-10;
    cursor: default;
    display: inline-block;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-decoration: none;

    .icon {
      background: {
        repeat: no-repeat;
      }

      ;
      display: inline-block;
      height: 20px;
      width: 20px;
    }

    &:visited {
      background: $blue-50;
    }

    &.button-hover {
      background: $blue-40;
      color: #fff;
    }

    &.button-active,
    &.button-focus {
      background: $blue-60;
      color: #fff;
    }

    &.button-disabled {
      background: $blue-10;
      border: 1px solid transparent;
      box-shadow: none;
      color: $blue-20;
      cursor: default;
    }

    &.button-secondary {
      background: $grey-50;
      color: $grey-10;

      &.button-hover {
        background: $grey-40;
        color: #fff;
      }

      &.button-active,
      &.button-focus {
        background: $grey-60;
      }

      &.button-disabled {
        background: $grey-10;
        color: $grey-20;
      }
    }

    &.button-subtle {
      background: $grey-10;
      border: 1px solid $grey-20;
      box-shadow: none;
      color: $grey-50;

      &.button-hover {
        background: #fff;
        color: $grey-60;
      }

      &.button-active,
      &.button-focus {
        background: #fff;
        color: $grey-70;
      }

      &.button-disabled {
        background: $grey-10;
        border: 1px solid transparent;
        color: $grey-20;
      }
    }

    &.button-save {
      background: $green-50;
      color: $green-10;

      &.button-hover {
        background: $green-40;
        color: #fff;
      }

      &.button-active,
      &.button-focus {
        background: $green-60;
      }

      &.button-disabled {
        background: $green-10;
        color: $green-20;
      }
    }

    &.button-delete {
      background: $red-50;
      color: $red-10;

      &.button-hover {
        background: $red-40;
        color: #fff;
      }

      &.button-active,
      &.button-focus {
        background: $red-60;
      }

      &.button-disabled {
        background: $red-10;
        color: $red-20;
      }
    }

    &.button-warning {
      background: $yellow-50;
      color: $yellow-10;

      &.button-hover {
        background: $yellow-40;
        color: #fff;
      }

      &.button-active,
      &.button-focus {
        background: $yellow-60;
      }

      &.button-disabled {
        background: $yellow-10;
        color: $yellow-20;
      }
    }

    &.button-label {
      background: none;
      box-shadow: none;
      color: $grey-30;
      font-weight: 400;
      padding-left: 0 !important;
    }

    &.button-size-xs,
    &.button-size-xs.button-label {
      font-size: 10px;
      line-height: 18px;
      padding: 4px 16px;

      @media (min-width: 1200px) {
        font-size: 12px;
        line-height: 20px;
      }

      @media (min-width: 1600px) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &.button-size-sm,
    &.button-size-sm.button-label {
      font-size: 12px;
      line-height: 20px;
      padding: 4px 16px;

      @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 22px;
        padding: 6px 18px;
      }

      @media (min-width: 1600px) {
        font-size: 16px;
        line-height: 24px;
        padding: 8px 22px;
      }
    }

    &.button-size-md,
    &.button-size-md.button-label {
      font-size: 14px;
      line-height: 22px;
      padding: 4px 16px;

      @media (min-width: 1200px) {
        font-size: 16px;
        line-height: 24px;
        padding: 6px 20px;
      }

      @media (min-width: 1600px) {
        font-size: 18px;
        line-height: 26px;
        padding: 8px 22px;
      }

      .icon {
        background-image: url("../images/icon/icon-overview-20.svg");
      }
    }

    &.button-size-lg,
    &.button-size-lg.button-label {
      font-size: 16px;
      line-height: 24px;
      padding: 6px 20px;

      @media (min-width: 1200px) {
        font-size: 18px;
        line-height: 26px;
        padding: 8px 22px;
      }

      @media (min-width: 1600px) {
        font-size: 20px;
        line-height: 28px;
        padding: 10px 24px;
      }
    }

    &.button-size-xl,
    &.button-size-xl.button-label {
      font-size: 18px;
      line-height: 26px;
      padding: 8px 22px;

      @media (min-width: 1200px) {
        font-size: 20px;
        line-height: 29px;
        padding: 10px 24px;
      }

      @media (min-width: 1600px) {
        font-size: 22px;
        line-height: 30px;
        padding: 12px 26px;
      }
    }
  }
}

// Badge
.sg-markup-component-badge-html .sg-example {
  .badge {
    background: $grey-50;
    border-radius: 16px;
    color: #fff;
    letter-spacing: 0.4px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    padding: 4px 12px;
    text-align: center;
    width: 48px;

    &.badge-word {
      width: 80px;
    }

    &.badge-driving {
      background: $green-50;
    }

    &.badge-on-duty {
      background: $blue-50;
    }

    &.badge-major {
      background: $red-50;
    }
  }
}

// Card
.sg-markup-component-card-html .sg-example {
  .component-card {
    .container-card-header {
      color: $grey-80;
      font-weight: 600;
      margin-bottom: 0.8rem;
    }

    .container-card-body {
      background: #fff;
      border: 1px solid $grey-20;
      border-radius: 4px;
      box-shadow: 0 1px 1px 0 rgba(138, 156, 167, 0.15);

      .container-card-sub-header {
        border-bottom: 1px solid $grey-20;
        color: $grey-40;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.4px;
        line-height: 22px;
        padding: 0.6rem 0.8rem;
        text-align: center;
        text-transform: uppercase;
      }

      .container-card-main-content {
        border-radius: 0 0 4px 4px;
        padding: 0.6rem 0.8rem;

        p {
          margin-top: 0;
        }
      }
    }
  }
}


// Filter
.sg-markup-component-filter-html .sg-example {

  .filter {
    min-width: 200px;
    width: 320px;
    font-family: $font-body;
    border-radius: 4px;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
    height: 40px;
    padding: 4px 16px;

    p {
      margin: 4px auto;
      display: inline-block;
    }

    &.filter-idle {
      border: 1px $grey-30 solid;

      p {
        color: $grey-30;
        font-style: italic;
      }
    }

    &.filter-active {
      border: 1px $grey-50 solid;

      p {
        color: $grey-70;
        font-style: italic;
      }
    }


    &.filter-selected {
      border: 1px $grey-30 solid;

      p {
        color: $grey-60;
      }
    }

  }

  p {
    font-size: 14px;
    line-height: 22px;
  }

  //repetitive code
  //need help to understand the structure of this repo and then change this
  .icon {
    background: {
      repeat: no-repeat;
    }

    margin: 6px auto;
    float: right;
    display: inline-block;

    &.icon-size-16 {
      height: 16px;
      width: 16px;

      &.icon-chevron-down {
        background-image: url("../images/icon/icon-chevron-down-16.svg");
      }

      &.icon-clear {
        background-image: url("../images/icon/icon-clear-16.svg");
      }
    }
  }

  input {
    display: none;
  }
}

.sg-markup-component-map-html .sg-example {
  p {
    font-size: 14px;
    line-height: 22px;
  }

  .icon {
    background: {
      repeat: no-repeat;
    }

    display: inline-block;

    // 20px
    &.icon-size-20 {
      height: 20px;
      width: 20px;

      // 20px map icons
      &.icon-map-event-acceleration-timeline {
        background-image: url("../images/icon/icon-map-event-acceleration-timeline-20.svg");
      }

      &.icon-map-event-brake-timeline {
        background-image: url("../images/icon/icon-map-event-brake-timeline-20.svg");
      }

      &.icon-map-event-collision-timeline {
        background-image: url("../images/icon/icon-map-event-collision-timeline-20.svg");
      }

      &.icon-map-event-corner-timeline {
        background-image: url("../images/icon/icon-map-event-corner-timeline-20.svg");
      }

      &.icon-map-event-recall-timeline {
        background-image: url("../images/icon/icon-map-event-recall-timeline-20.svg");
      }

      &.icon-map-event-speeding-timeline {
        background-image: url("../images/icon/icon-map-event-speeding-timeline-20.svg");
      }

      &.icon-map-vehicle-driving-mark {
        background-image: url("../images/icon/icon-map-vehicle-driving-mark-20.svg");
      }

      &.icon-map-vehicle-driving-mark-eld {
        background-image: url("../images/icon/icon-map-vehicle-driving-mark-eld-20.svg");
      }

    }

    // 24px
    &.icon-size-24 {
      height: 24px;
      width: 24px;

      // 24px map icons
      &.icon-map-event-acceleration-active {
        background-image: url("../images/icon/icon-map-event-acceleration-active-24.svg");
      }

      &.icon-map-event-acceleration-inactive {
        background-image: url("../images/icon/icon-map-event-acceleration-inactive-24.svg");
      }

      &.icon-map-event-brake-active {
        background-image: url("../images/icon/icon-map-event-brake-active-24.svg");
      }

      &.icon-map-event-brake-inactive {
        background-image: url("../images/icon/icon-map-event-brake-inactive-24.svg");
      }

      &.icon-map-event-collision-active {
        background-image: url("../images/icon/icon-map-event-collision-active-24.svg");
      }

      &.icon-map-event-collision-inactive {
        background-image: url("../images/icon/icon-map-event-collision-inactive-24.svg");
      }

      &.icon-map-event-corner-active {
        background-image: url("../images/icon/icon-map-event-corner-active-24.svg");
      }

      &.icon-map-event-corner-inactive {
        background-image: url("../images/icon/icon-map-event-corner-inactive-24.svg");
      }

      &.icon-map-event-recall-active {
        background-image: url("../images/icon/icon-map-event-recall-active-24.svg");
      }

      &.icon-map-event-recall-inactive {
        background-image: url("../images/icon/icon-map-event-recall-inactive-24.svg");
      }

      &.icon-map-event-speeding-active {
        background-image: url("../images/icon/icon-map-event-speeding-active-24.svg");
      }

      &.icon-map-event-speeding-inactive {
        background-image: url("../images/icon/icon-map-event-speeding-inactive-24.svg");
      }

      &.icon-map-vehicle-disabled {
        background-image: url("../images/icon/icon-map-vehicle-disabled-24.svg");
      }

      &.icon-map-vehicle-driving {
        background-image: url("../images/icon/icon-map-vehicle-driving-24.svg");
      }

      &.icon-map-vehicle-driving-direction {
        background-image: url("../images/icon/icon-map-vehicle-driving-direction-24.svg");
      }

      &.icon-map-vehicle-stationary {
        background-image: url("../images/icon/icon-map-vehicle-stationary-24.svg");
      }
    }
  }
}


//Notification
.sg-markup-component-notification-html .sg-example {

  .notification {
    font-family: $font-body;
    border-radius: 4px;
    font-size: 16px;
    min-width: 500px;
    text-align: left;
    line-height: 24px;
    padding: 8px 16px;
    margin-bottom: 40px;

    a {
      color: inherit;
    }

    &.notification-info {
      color: $blue-60;
      background: $blue-10;
      border: 1px solid $blue-60;
    }

    &.notification-success {
      color: $green-60;
      background: $green-10;
      border: 1px solid $green-60;
    }

    &.notification-warning {
      color: $yellow-60;
      background: $yellow-10;
      border: 1px solid $yellow-60;
    }

    &.notification-error {
      color: $red-60;
      background: $red-10;
      border: 1px solid $red-60;
    }

    &.notification-with-heading {
    text-align: center;

      p {
        margin: 0px auto;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
      }
    }
  }

  //redundant code, will be linked from icon
  .icon {
    margin: 4px auto;
    float: right;
    display: inline-block;

    &:hover{
      cursor: pointer;
    }

    &.icon-size-16 {
      height: 16px;
      width: 16px;

      &.icon-clear {
        background-image: url("../images/icon/icon-clear-16.svg");
      }
    }
  }
}
