.section-hero {
  align-items: end;
  background: $blue-50 url("../images/hero.svg") no-repeat 100% 0;
  background-size: 150%;
  display: grid;
  margin-top: 72px;
  height: 80vh;
  @media (min-width: 800px) {
    background-size: contain;
    height: calc(100vh - 72px);
  }
  @media (min-width: 1200px) {
  }
  .container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1800px;
    @media (min-width: 1000px) {
      width: 72%;
    }
  }
  .content-wrapper {
    padding-bottom: 15%;
    @media (min-width: 1000px) {
      width: 80%;
    }
    @media (min-width: 1200px) {
      width: 60%;
    }
  }
  h1 {
    border: none;
    color: $blue-80;
    margin: 0;
    text-transform: none;
  }
  p.lead {
    color: $blue-20;
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
  }
  .button-row {
    background: none;
    padding: 16px 0 0 0;
  }
  .button,
  .button:visited {
    background: $blue-60;
    margin-right: 12px;
    &:hover {
      background: $blue-40;
    }
  }
  p {
    color: $blue-30;
    font-style: italic;
  }
  a:not(.button),
  a:not(.button):visited {
    color: $blue-30;
    font-style: normal;
    margin-top: 16px;
    &:hover {
      color: $blue-20;
    }
  }
}

.footer-cta {
  height: 50vh;
}
