// Layout
.sg-wrapper {
  position: relative;
}

.sg-main {
  background: $white-10;
}

.sg-container {
  padding: 16px;

  @media (min-width: 1200px) {
    padding: 32px;
  }
}

// Grid
.sg-wrapper {
  .sg-sidebar {
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
  }

  .sg-main {
    @media screen and (min-width: 1200px) {
      float: right;
      width: 80%;
    }
  }
}

// Columns
.sg-main {
  .sg-sub-section {
    .col {
      display: grid;
      grid-gap: 1rem;

      @media screen and (min-width: 1200px) {
        grid-gap: 2rem;
      }

      @media screen and (min-width: 1600px) {
        grid-gap: 2.4rem;
      }

      &.col-2 {
        grid-template-columns: 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr;
        }
      }

      &.col-4 {
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      &.col-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      &.col-8 {
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }

      &.col-12 {
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }

      &.col-16 {
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}
