// Sidebar
.sg-sidebar {
  background: #fff;
  color: $grey-60;
  display: none;
  font-size: 14px;
  line-height: 22px;
  height: 100vh;
  overflow-y: auto;
  padding: 32px 32px 80px 32px;
  position: absolute;
  top: 72px;
  width: 100%;
  @media (min-width: 1200px) {
    width: 200px;
  }

  .sg-h2 {
    font-size: 14px;
    line-height: 22px;
    border-bottom: 2px solid $grey-10;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
  }

  .sg-nav-group {
    list-style: none;
    padding: 0;
    text-transform: capitalize;

    li {
      margin-bottom: 0;
    }

    a {
      display: block;
      padding: 4px 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.js.nav-is-active .sg-sidebar {
  display: block;
}
