// Color variables
$grey-80: #262F36;
$grey-70: #3A4651;
$grey-60: #4D5E6C; // Primary
$grey-50: #607587;
$grey-40: #7D91A2;
$grey-30: #9DACB9;
$grey-20: #BEC8D1;
$grey-10: #EFF1F3;

$white-20: #F5F7F8;
$white-10: #FCFCFD;

$blue-80: #0D324A;
$blue-70: #134A70;
$blue-60: #1A6395;
$blue-50: #207CBA; // Primary
$blue-40: #389ADD;
$blue-30: #6AB3E5;
$blue-20: #9BCDEE;
$blue-10: #E6F3FB;

$green-80: #153518;
$green-70: #205023;
$green-60: #2A6A2F;
$green-50: #35853B; // Primary
$green-40: #47B350;
$green-30: #74C87A;
$green-20: #A2DAA7;
$green-10: #E8F6E9;

$red-80: #581C16;
$red-70: #83231D;
$red-60: #B12723;
$red-50: #E22A2A; // Primary
$red-40: #F06151;
$red-30: #FB8B7A;
$red-20: #FFB2A4;
$red-10: #FFECE8;

$yellow-80: #382D01;
$yellow-70: #554401;
$yellow-60: #715A02;
$yellow-50: #8D7102; // Primary
$yellow-40: #C19F17;
$yellow-30: #E8C228;
$yellow-20: #ECD166;
$yellow-10: #F9F2D2;

$dpe-corner-purple: #B078D9;
$dpe-acceleration-yellow: $yellow-20;
$dpe-brake-red: $red-40;
