@import "variable";
@import "mixin";
@import "global";
@import "sidebar";

//Base
@import "base/button";
@import "base/grid";
@import "base/icon";
@import "base/link";
@import "base/type";

// Component
@import "component/badge";
@import "component/breadcrumb";
@import "component/card";
@import "component/filter";
@import "component/form";
@import "component/map";
@import "component/modal";
@import "component/notification";
@import "component/pagination";
@import "component/progress";
@import "component/popover";
@import "component/table";
@import "component/toggle";
@import "component/tooltip";

// Layout
.sg-wrapper {
  position: relative;
}

.sg-main {
  background: $white-10;
}

.sg-container {
  padding: 16px;

  @media (min-width: 1200px) {
    padding: 32px;
  }
}

.js .sg-sidebar {
  opacity: 0;
  position: absolute;
  top: -100%;
  -webkit-transition: opacity 0.6s ease-out;
  -moz-transition: opacity 0.6s ease-out;
  -ms-transition: opacity 0.6s ease-out;
  -o-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.js.nav-is-active .sg-sidebar {
  opacity: 1;
  position: static;
}

// Nav
.sg-header {
  background: $white-10;
  position: fixed;
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .sg-sidebar,
  .js .sg-sidebar,
  .js.nav-is-active .sg-sidebar {
    bottom: 0;
    float: left;
    font-size: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 25%;
  }

  .sg-main {
    float: right;
    width: 75%;
  }

  // Nav
  .sg-header {
    z-index: 0;
  }
}

.sg-searchbar {
  margin-top: 32px;
}

.sg-search {
  border: 1px $grey-30 solid;
  border-radius: 4px;
  padding: 4px 16px;
  height: 40px;
  font-size: 14px;
  width: 150px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  &:focus {
    width: 100%;
    border: 2px $blue-40 solid;
  }
}


.sg-nav-toggle {
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #7C7C7C;
  color: #fff;
  float: right;
  font-size: 16px;
  font-size: 1rem;
  padding: 5px 8px;
  /* For older browsers */
  padding: 0.3125rem 0.5rem;
  text-decoration: none;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -ms-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

// Link
.sg-wrapper {

  a,
  .link {
    color: $blue-50;

    &:visited {
      color: $blue-50;
    }

    &:hover,
    &.link-hover {
      color: $blue-60;
    }

    &:active,
    &.link-active,
    &:focus,
    &.link-focus {
      color: $blue-70;
    }
  }

  // Back to top link
  .sg-btn--top {
    bottom: 16px;
    position: fixed;
    right: 16px;
  }

  .sg-btn--source {
    background: $white-20;
    font-weight: 600;
    color: $grey-60;
    border-radius: 4px;
    border: none;
    font-family: $font-body;
    font-size: 14px;
    padding: 8px 16px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $grey-10;
    }
  }
}

// Grid
.sg-wrapper {
  .sg-sidebar {
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
  }

  .sg-main {
    @media screen and (min-width: 1200px) {
      float: right;
      width: 80%;
    }
  }
}

// Columns
.sg-main {
  .sg-sub-section {
    .col {
      display: grid;
      grid-gap: 1rem;

      @media screen and (min-width: 1200px) {
        grid-gap: 2rem;
      }

      @media screen and (min-width: 1600px) {
        grid-gap: 2.4rem;
      }

      &.col-2 {
        grid-template-columns: 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr;
        }
      }

      &.col-4 {
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      &.col-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      &.col-8 {
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }

      &.col-12 {
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }

      &.col-16 {
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}

// Sidebar
.sg-wrapper {
  .sg-sidebar {
    background: $white-20;
    color: $grey-60;
    font-size: 14px;
    line-height: 22px;
    overflow-y: auto;
    padding: 2rem;
    position: fixed;

    .logo-kt-logotype {
      background: {
        image: url("../images/logo-type-kt.svg");
        position: 50%;
        repeat: no-repeat;
        size: contain;
      }

      ;
      min-height: 32px;
    }

    .sg-h2 {
      font-size: 14px;
      line-height: 22px;
      border-bottom: 2px solid $grey-10;
      margin-bottom: 0.2rem;
      padding-bottom: 0.2rem;
    }

    .sg-nav-group {
      list-style: none;
      padding: 0;
      text-transform: capitalize;

      li {
        margin-bottom: 0;
      }

      a {
        display: block;
        padding: 4px 0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Sections
.sg-section {
  padding: 4rem 0;

  h2 {
    margin: 0;
  }

  .sg-example {
    padding: 1.6rem 0;
  }

  p {
    color: $grey-50;
  }

  .pull-right {
    float: right;
  }

  .pull-left {
    float: left;
  }

  // Source Code Blocks
  .sg-source {
    // Hide/Show Source Code Blocks
    display: none;
    position: relative;

    &.sg-source-active {
      display: block;
    }

    pre {
      background: $grey-80 !important;
      border-radius: 0 !important;
      color: #fff;
      overflow-x: scroll;
      padding: .8em !important;
    }

    // Copy Source Code Button
    .sg-btn--select {
      position: absolute;
      right: 8px;
      top: 8px;
      z-index: 1;
    }
  }
}

// Intro
.sg-main {
  .section-intro {
    font-size: 14px;
    line-height: 22px;

    h2 {
      border-bottom: 2px solid $grey-10;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0.4rem;
      margin-top: 0;
      padding-bottom: 0.2rem;

      @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

// Hide Source Code Blocks for some sections when it's not relevant
.sg-markup-Brand-logo-html,
.sg-markup-Brand-color-html,
.sg-markup-Brand-font-html {
  .sg-markup-controls {
    display: none;
  }
}

// Logo
.sg-markup-Brand-Logo-html .sg-example {
  p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
  }

  // Shared
  .logo {
    background: {
      position: 0 0;
      repeat: no-repeat;
      size: contain;
    }

    ;
    min-height: 40px;
  }

  .logo-type-kt {
    background-image: url("../images/logo-type-kt.svg");
  }

  .logo-symbol-kt {
    background-image: url("../images/logo-symbol-kt.svg");
  }

  .app-icon-kt {
    background-image: url("../images/app-icon-kt.svg");
  }

  .app-avatar-kt {
    background-image: url("../images/app-avatar-kt.svg");
  }
}

// Color
.sg-markup-Brand-color-html .sg-example {
  font-size: 14px;
  line-height: 22px;

  .col.col-8 {
    grid-gap: 0;
  }

  .sg-color-dashcam-disconnect {
    font-weight: 600;


    margin-top: 0.4rem;
  }

  .sg-color-swatch {
    height: 80px;
    margin-top: 0.8rem;

    &.grey-80 {
      background: $grey-80;
    }

    &.grey-70 {
      background: $grey-70;
    }

    &.grey-60 {
      background: $grey-60;
    }

    &.grey-50 {
      background: $grey-50;
    }

    &.grey-40 {
      background: $grey-40;
    }

    &.grey-30 {
      background: $grey-30;
    }

    &.grey-20 {
      background: $grey-20;
    }

    &.grey-10 {
      background: $grey-10;
    }

    &.blue-80 {
      background: $blue-80;
    }

    &.blue-70 {
      background: $blue-70;
    }

    &.blue-60 {
      background: $blue-60;
    }

    &.blue-50 {
      background: $blue-50;
    }

    &.blue-40 {
      background: $blue-40;
    }

    &.blue-30 {
      background: $blue-30;
    }

    &.blue-20 {
      background: $blue-20;
    }

    &.blue-10 {
      background: $blue-10;
    }

    &.green-80 {
      background: $green-80;
    }

    &.green-70 {
      background: $green-70;
    }

    &.green-60 {
      background: $green-60;
    }

    &.green-50 {
      background: $green-50;
    }

    &.green-40 {
      background: $green-40;
    }

    &.green-30 {
      background: $green-30;
    }

    &.green-20 {
      background: $green-20;
    }

    &.green-10 {
      background: $green-10;
    }

    &.red-80 {
      background: $red-80;
    }

    &.red-70 {
      background: $red-70;
    }

    &.red-60 {
      background: $red-60;
    }

    &.red-50 {
      background: $red-50;
    }

    &.red-40 {
      background: $red-40;
    }

    &.red-30 {
      background: $red-30;
    }

    &.red-20 {
      background: $red-20;
    }

    &.red-10 {
      background: $red-10;
    }

    &.yellow-80 {
      background: $yellow-80;
    }

    &.yellow-70 {
      background: $yellow-70;
    }

    &.yellow-60 {
      background: $yellow-60;
    }

    &.yellow-50 {
      background: $yellow-50;
    }

    &.yellow-40 {
      background: $yellow-40;
    }

    &.yellow-30 {
      background: $yellow-30;
    }

    &.yellow-20 {
      background: $yellow-20;
    }

    &.yellow-10 {
      background: $yellow-10;
    }

    &.dpe-corner {
      background: $dpe-corner-purple;
    }

    &.dpe-acceleration {
      background: $dpe-acceleration-yellow;
    }

    &.dpe-brake {
      background: $dpe-brake-red;
    }

    &.white-20 {
      background: $white-20;
    }

    &.white-10 {
      background: $white-10;
    }
  }
}

// Font
.sg-markup-Brand-font-html .sg-example {
  p {
    &.font-open-sans {
      font-family: $font-body;
    }

    &.font-roboto {
      font-family: $font-mobile;
    }

    &.font-300 {
      font-weight: 300;
    }

    &.font-400 {
      font-weight: 400;
    }

    &.font-600 {
      font-weight: 600;
    }

    &.font-700 {
      font-weight: 700;
    }

    &.font-italic {
      font-style: italic;
    }
  }
}