@import "variable";
@import "mixin";
@import "global";
@import "sidebar";

// Component
@import "component/badge";
@import "component/breadcrumb";
@import "component/card";
@import "component/filter";
@import "component/form";
@import "component/map";
@import "component/modal";
@import "component/notification";
@import "component/progress";
@import "component/table";
@import "component/toggle";
@import "component/tooltip";


.sg-btn--source{
  background: $white-20;
  font-weight: 600;
  color: $grey-60;
  border-radius: $border-radius-default;
  border: none;
  font-family: $font-body;
  font-size: 14px;
  padding: 8px 16px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $grey-10;
  }
}

// Layout
.sg-wrapper {
  position: relative;
}

.sg-main {
  background: $white-10;
}

.sg-container {
  padding: 16px;

  @media (min-width: 1200px) {
    padding: 32px;
  }
}

.js .sg-sidebar {
  opacity: 0;
  position: absolute;
  top: -100%;
  -webkit-transition: opacity 0.6s ease-out;
  -moz-transition: opacity 0.6s ease-out;
  -ms-transition: opacity 0.6s ease-out;
  -o-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.js.nav-is-active .sg-sidebar {
  opacity: 1;
  position: static;
}

@media screen and (min-width: 1200px) {

  .sg-sidebar,
  .js .sg-sidebar,
  .js.nav-is-active .sg-sidebar {
    bottom: 0;
    float: left;
    font-size: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 25%;
  }

  .sg-main {
    float: right;
    width: 75%;
  }
}

// Nav
.sg-header {
  background: $white-10;
  position: fixed;
  z-index: 1;
}

.sg-nav-toggle {
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #7C7C7C;
  color: #fff;
  float: right;
  font-size: 16px;
  font-size: 1rem;
  padding: 5px 8px;
  /* For older browsers */
  padding: 0.3125rem 0.5rem;
  text-decoration: none;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -ms-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

// Link
.sg-wrapper {

  a,
  .link {
    color: $blue-50;

    &:visited {
      color: $blue-50;
    }

    &:hover,
    &.link-hover {
      color: $blue-60;
    }

    &:active,
    &.link-active,
    &:focus,
    &.link-focus {
      color: $blue-70;
    }
  }

  // Back to top link
  .sg-btn--top {
    bottom: 16px;
    position: fixed;
    right: 16px;
  }
}

// Grid
.sg-wrapper {
  .sg-sidebar {
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
  }

  .sg-main {
    @media screen and (min-width: 1200px) {
      float: right;
      width: 80%;
    }
  }
}

// Columns
.sg-main {
  .sg-sub-section {
    .col {
      display: grid;
      grid-gap: 1rem;

      @media screen and (min-width: 1200px) {
        grid-gap: 2rem;
      }

      @media screen and (min-width: 1600px) {
        grid-gap: 2.4rem;
      }

      &.col-2 {
        grid-template-columns: 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr;
        }
      }

      &.col-4 {
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      &.col-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      &.col-8 {
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }

      &.col-12 {
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }

      &.col-16 {
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}

// Sidebar
.sg-wrapper {
  .sg-sidebar {
    background: $white-20;
    color: $grey-60;
    font-size: 14px;
    line-height: 22px;
    overflow-y: auto;
    padding: 2rem;
    position: fixed;

    .logo-kt-logotype {
      background: {
        image: url("../images/logo-type-kt.svg");
        position: 50%;
        repeat: no-repeat;
        size: contain;
      };
      min-height: 32px;
    }

    .sg-h2 {
      font-size: 14px;
      line-height: 22px;
      border-bottom: 2px solid $grey-10;
      margin-bottom: 0.2rem;
      padding-bottom: 0.2rem;
    }

    .sg-nav-group {
      list-style: none;
      padding: 0;
      text-transform: capitalize;

      li {
        margin-bottom: 0;
      }

      a {
        display: block;
        padding: 4px 0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Sections
.sg-section {
  padding: 4rem 0;

  h2 {
    margin: 0;
  }

  .sg-example {
    padding: 1.6rem 0;
  }

  p {
    color: $grey-50;
  }

  // Source Code Blocks
  .sg-source {
    // Hide/Show Source Code Blocks
    display: none;
    position: relative;

    &.sg-source-active {
      display: block;
    }

    pre {
      background: $grey-80 !important;
      border-radius: 0 !important;
      color: #fff;
      overflow-x: scroll;
      padding: .8em !important;
    }

    // Copy Source Code Button
    .sg-btn--select {
      position: absolute;
      right: 8px;
      top: 8px;
      z-index: 1;
    }
  }
}

// Intro
.sg-main {
  .section-intro {
    font-size: 14px;
    line-height: 22px;

    h2 {
      border-bottom: 2px solid $grey-10;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0.4rem;
      margin-top: 0;
      padding-bottom: 0.2rem;

      @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

// Hide Source Code Blocks for some sections when it's not relevant
.sg-markup-Brand-logo-html,
.sg-markup-Brand-color-html,
.sg-markup-Brand-font-html {
  .sg-markup-controls {
    display: none;
  }
}

// Logo
.sg-markup-Brand-Logo-html .sg-example {
  p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
  }

  // Shared
  .logo {
    background: {
      position: 0 0;
      repeat: no-repeat;
      size: contain;
    }

    ;
    min-height: 40px;
  }

  .logo-type-kt {
    background-image: url("../images/logo-type-kt.svg");
  }

  .logo-symbol-kt {
    background-image: url("../images/logo-symbol-kt.svg");
  }

  .app-icon-kt {
    background-image: url("../images/app-icon-kt.svg");
  }

  .app-avatar-kt {
    background-image: url("../images/app-avatar-kt.svg");
  }
}

// Color
.sg-markup-Brand-color-html .sg-example {
  font-size: 14px;
  line-height: 22px;

  .col.col-8 {
    grid-gap: 0;
  }

  .sg-color-dashcam-disconnect {
    font-weight: 600;


    margin-top: 0.4rem;
  }

  .sg-color-swatch {
    height: 80px;
    margin-top: 0.8rem;

    &.grey-80 {
      background: $grey-80;
    }

    &.grey-70 {
      background: $grey-70;
    }

    &.grey-60 {
      background: $grey-60;
    }

    &.grey-50 {
      background: $grey-50;
    }

    &.grey-40 {
      background: $grey-40;
    }

    &.grey-30 {
      background: $grey-30;
    }

    &.grey-20 {
      background: $grey-20;
    }

    &.grey-10 {
      background: $grey-10;
    }

    &.blue-80 {
      background: $blue-80;
    }

    &.blue-70 {
      background: $blue-70;
    }

    &.blue-60 {
      background: $blue-60;
    }

    &.blue-50 {
      background: $blue-50;
    }

    &.blue-40 {
      background: $blue-40;
    }

    &.blue-30 {
      background: $blue-30;
    }

    &.blue-20 {
      background: $blue-20;
    }

    &.blue-10 {
      background: $blue-10;
    }

    &.green-80 {
      background: $green-80;
    }

    &.green-70 {
      background: $green-70;
    }

    &.green-60 {
      background: $green-60;
    }

    &.green-50 {
      background: $green-50;
    }

    &.green-40 {
      background: $green-40;
    }

    &.green-30 {
      background: $green-30;
    }

    &.green-20 {
      background: $green-20;
    }

    &.green-10 {
      background: $green-10;
    }

    &.red-80 {
      background: $red-80;
    }

    &.red-70 {
      background: $red-70;
    }

    &.red-60 {
      background: $red-60;
    }

    &.red-50 {
      background: $red-50;
    }

    &.red-40 {
      background: $red-40;
    }

    &.red-30 {
      background: $red-30;
    }

    &.red-20 {
      background: $red-20;
    }

    &.red-10 {
      background: $red-10;
    }

    &.yellow-80 {
      background: $yellow-80;
    }

    &.yellow-70 {
      background: $yellow-70;
    }

    &.yellow-60 {
      background: $yellow-60;
    }

    &.yellow-50 {
      background: $yellow-50;
    }

    &.yellow-40 {
      background: $yellow-40;
    }

    &.yellow-30 {
      background: $yellow-30;
    }

    &.yellow-20 {
      background: $yellow-20;
    }

    &.yellow-10 {
      background: $yellow-10;
    }

    &.dpe-corner {
      background: $dpe-corner-purple;
    }

    &.dpe-acceleration {
      background: $dpe-acceleration-yellow;
    }

    &.dpe-brake {
      background: $dpe-brake-red;
    }

    &.white-20 {
      background: $white-20;
    }

    &.white-10 {
      background: $white-10;
    }
  }
}

// Font
.sg-markup-Brand-font-html .sg-example {
  p {
    &.font-open-sans {
      font-family: $font-body;
    }

    &.font-roboto {
      font-family: $font-mobile;
    }

    &.font-300 {
      font-weight: 300;
    }

    &.font-400 {
      font-weight: 400;
    }

    &.font-600 {
      font-weight: 600;
    }

    &.font-700 {
      font-weight: 700;
    }

    &.font-italic {
      font-style: italic;
    }
  }
}

// Icon
.sg-markup-base-icon-html .sg-example {
  p {
    font-size: 14px;
    line-height: 22px;
  }

  .icon {
    display: inline-block;

    background: {
      repeat: no-repeat;
    }

    // 16px
    &.icon-size-16 {
      height: 16px;
      width: 16px;

      &.blank-placeholder {
        background-color: $grey-10;
      }

      &.icon-chevron-down {
        background-image: url("../images/icon/icon-16-chevron-down.svg");
      }

      &.icon-chevron-up {
        background-image: url("../images/icon/icon-16-chevron-up.svg");
      }

      &.icon-chevron-left {
        background-image: url("../images/icon/icon-16-chevron-left.svg");
      }

      &.icon-chevron-right {
        background-image: url("../images/icon/icon-16-chevron-right.svg");
      }

      &.icon-pop-up-list {
        background-image: url("../images/icon/icon-16-pop-up-list.svg");
      }

      &.icon-cross {
        background-image: url("../images/icon/icon-16-cross.svg");
      }

      &.icon-lock {
        background-image: url("../images/icon/icon-16-lock.svg");
      }

      &.icon-spacer {
        background-image: url("../images/icon/icon-16-spacer.svg");
      }

      &.icon-info {
        background-image: url("../images/icon/icon-16-info.svg");
      }

      &.icon-minimize {
        background-image: url("../images/icon/icon-16-minimize.svg");
      }

      &.icon-maximize {
        background-image: url("../images/icon/icon-16-maximize.svg");
      }

      &.icon-link {
        background-image: url("../images/icon/icon-16-link.svg");
      }
    }

    // 20px
    &.icon-size-20 {
      height: 20px;
      width: 20px;

      &.blank-placeholder {
        background-color: $grey-10;
      }

      &.icon-16-hour-exception {
        background-image: url("../images/icon/icon-20-o-16-hour-exception.svg");
      }

      &.icon-account-security {
        background-image: url("../images/icon/icon-20-o-account-security.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-account-security.svg");
        }
      }

      &.icon-add {
        background-image: url("../images/icon/icon-20-o-add.svg");
      }

      &.icon-alert {
        background-image: url("../images/icon/icon-20-o-alert.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-alert.svg");
        }
      }

      &.icon-app-android-fill {
        background-image: url("../images/icon/icon-20-fill-app-android.svg");
      }

      &.icon-app-ios-fill {
        background-image: url("../images/icon/icon-20-fill-app-ios.svg");
      }

      &.icon-apps {
        background-image: url("../images/icon/icon-20-o-apps.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-apps.svg");
        }
      }

      &.icon-beta {
        background-image: url("../images/icon/icon-20-o-beta.svg");
      }

      &.icon-broadcast {
        background-image: url("../images/icon/icon-20-o-broadcast.svg");
      }

      &.icon-bulb {
        background-image: url("../images/icon/icon-20-o-bulb.svg");
      }

      &.icon-calculator {
        background-image: url("../images/icon/icon-20-o-calculator.svg");
      }

      &.icon-calendar {
        background-image: url("../images/icon/icon-20-o-calendar.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-calendar.svg");
        }
      }

      &.icon-close {
        background-image: url("../images/icon/icon-20-o-close.svg");
      }

      &.icon-coordinates {
        background-image: url("../images/icon/icon-20-o-coordinates.svg");
      }

      &.icon-close {
        background-image: url("../images/icon/icon-20-o-close.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-close.svg");
        }
      }

      &.icon-coaching-coachable {
        background-image: url("../images/icon/icon-20-o-coaching-coachable.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-coaching-coachable.svg");
        }
      }

      &.icon-coaching-coached {
        background-image: url("../images/icon/icon-20-o-coaching-coached.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-coaching-coached.svg");
        }
      }

      &.icon-coaching-locked {
        background-image: url("../images/icon/icon-20-o-coaching-locked.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-coaching-locked.svg");
        }
      }

      &.icon-coaching-pending {
        background-image: url("../images/icon/icon-20-o-coaching-pending.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-coaching-pending.svg");
        }
      }

      &.icon-coaching-uncoachable {
        background-image: url("../images/icon/icon-20-o-coaching-uncoachable.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-coaching-uncoachable.svg");
        }
      }

      &.icon-company {
        background-image: url("../images/icon/icon-20-o-company.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-company.svg");
        }
      }

      &.icon-compass {
        background-image: url("../images/icon/icon-20-o-compass.svg");
      }

      &.icon-costs {
        background-image: url("../images/icon/icon-20-o-costs.svg");
      }

      &.icon-cross {
        background-image: url("../images/icon/icon-20-o-cross.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-cross.svg");
        }
      }

      &.icon-cycle {
        background-image: url("../images/icon/icon-20-o-cycle.svg");
      }

      &.icon-dashcam {
        background-image: url("../images/icon/icon-20-o-dashcam.svg");
      }

      &.icon-dashcam-disconnect {
        background-image: url("../images/icon/icon-20-o-dashcam-disconnect.svg");
      }

      &.icon-dashcam-eld {
        background-image: url("../images/icon/icon-20-o-dashcam-eld.svg");
      }

      &.icon-dashcam-recall {
        background-image: url("../images/icon/icon-20-o-dashcam-recall.svg");
      }

      &.icon-dashcam-video {
        background-image: url("../images/icon/icon-20-o-dashcam-video.svg");
      }

      &.icon-developers {
        background-image: url("../images/icon/icon-20-o-developers.svg");
      }

      &.icon-diagnostics {
        background-image: url("../images/icon/icon-20-o-diagnostics.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-diagnostics.svg");
        }
      }

      &.icon-documents {
        background-image: url("../images/icon/icon-20-o-documents.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-documents.svg");
        }
      }

      &.icon-download {
        background-image: url("../images/icon/icon-20-o-download.svg");
      }

      &.icon-driver {
        background-image: url("../images/icon/icon-20-o-driver.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-driver.svg");
        }
      }

      &.icon-location {
        background-image: url("../images/icon/icon-20-o-location.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-location.svg");
        }
      }

      &.icon-logs {
        background-image: url("../images/icon/icon-20-o-logs.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-logs.svg");
        }
      }

      &.icon-map {
        background-image: url("../images/icon/icon-20-o-map.svg");
      }

      &.icon-message {
        background-image: url("../images/icon/icon-20-o-message.svg");
      }

      &.icon-message-check {
        background-image: url("../images/icon/icon-20-o-message-check.svg");
      }

      &.icon-message-send {
        background-image: url("../images/icon/icon-20-o-message-send.svg");
      }

      &.icon-messages {
        background-image: url("../images/icon/icon-20-o-messages.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-messages.svg");
        }
      }

      &.icon-minus {
        background-image: url("../images/icon/icon-20-o-minus.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-minus.svg");
        }
      }

      &.icon-note {
        background-image: url("../images/icon/icon-20-o-note.svg");
      }

      &.icon-odometer {
        background-image: url("../images/icon/icon-20-o-odometer.svg");
      }

      &.icon-overview {
        background-image: url("../images/icon/icon-20-o-overview.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-overview.svg");
        }
      }

      &.icon-phone {
        background-image: url("../images/icon/icon-20-o-phone.svg");
      }

      &.icon-phone-receiver {
        background-image: url("../images/icon/icon-20-o-phone-receiver.svg");
      }

      &.icon-plus {
        background-image: url("../images/icon/icon-20-o-plus.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-plus.svg");
        }
      }

      &.icon-printer {
        background-image: url("../images/icon/icon-20-o-printer.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-printer.svg");
        }
      }

      &.icon-proximity {
        background-image: url("../images/icon/icon-20-o-proximity.svg");
      }

      &.icon-receipt {
        background-image: url("../images/icon/icon-20-o-receipt.svg");
      }

      &.icon-refresh {
        background-image: url("../images/icon/icon-20-o-refresh.svg");
      }

      &.icon-remark {
        background-image: url("../images/icon/icon-20-o-remark.svg");
      }

      &.icon-remove {
        background-image: url("../images/icon/icon-20-o-remove.svg");
      }

      &.icon-reports {
        background-image: url("../images/icon/icon-20-o-reports.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-reports.svg");
        }
      }

      &.icon-rotate {
        background-image: url("../images/icon/icon-20-o-rotate.svg");
      }

      &.icon-scorecard {
        background-image: url("../images/icon/icon-20-o-scorecard.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-scorecard.svg");
        }
      }

      &.icon-search {
        background-image: url("../images/icon/icon-20-o-search.svg");
      }

      &.icon-settings {
        background-image: url("../images/icon/icon-20-o-settings.svg");
      }

      &.icon-sign {
        background-image: url("../images/icon/icon-20-o-sign.svg");
      }

      &.icon-slide-in {
        background-image: url("../images/icon/icon-20-o-slide-in.svg");
      }

      &.icon-slide-out {
        background-image: url("../images/icon/icon-20-o-slide-out.svg");
      }

      &.icon-speed {
        background-image: url("../images/icon/icon-20-o-speed.svg");
      }

      &.icon-stopwatch {
        background-image: url("../images/icon/icon-20-o-stopwatch.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-stopwatch.svg");
        }
      }

      &.icon-tag {
        background-image: url("../images/icon/icon-20-o-tag.svg");
      }

      &.icon-time {
        background-image: url("../images/icon/icon-20-o-time.svg");
      }

      &.icon-trash {
        background-image: url("../images/icon/icon-20-o-trash.svg");
      }

      &.icon-unlock {
        background-image: url("../images/icon/icon-20-o-unlock.svg");
      }

      &.icon-upgrade {
        background-image: url("../images/icon/icon-20-o-upgrade.svg");
      }

      &.icon-upload {
        background-image: url("../images/icon/icon-20-o-upload.svg");
      }

      &.icon-vehicle {
        background-image: url("../images/icon/icon-20-o-vehicle.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-20-fill-vehicle.svg");
        }
      }

      // 20px map icons
      &.icon-map-event-acceleration-timeline {
        background-image: url("../images/icon/icon-20-map-event-acceleration-timeline.svg");
      }

      &.icon-map-event-brake-timeline {
        background-image: url("../images/icon/icon-20-map-event-brake-timeline.svg");
      }

      &.icon-map-event-collision-timeline {
        background-image: url("../images/icon/icon-20-map-event-collision-timeline.svg");
      }

      &.icon-map-event-corner-timeline {
        background-image: url("../images/icon/icon-20-map-event-corner-timeline.svg");
      }

      &.icon-map-event-recall-timeline {
        background-image: url("../images/icon/icon-20-map-event-recall-timeline.svg");
      }

      &.icon-map-event-speeding-timeline {
        background-image: url("../images/icon/icon-20-map-event-speeding-timeline.svg");
      }

      &.icon-map-vehicle-driving-mark {
        background-image: url("../images/icon/icon-20-map-vehicle-driving-mark.svg");
      }

      &.icon-map-vehicle-driving-mark-eld {
        background-image: url("../images/icon/icon-20-map-vehicle-driving-mark-eld.svg");
      }

    }

    // 24px
    &.icon-size-24 {
      height: 24px;
      width: 24px;

      &.blank-placeholder {
        background-color: $grey-10;
      }

      &.icon-avatar {
        background-image: url("../images/icon/icon-24-o-avatar.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-24-fill-avatar.svg");
        }
      }

      &.icon-clock {
        background-image: url("../images/icon/icon-24-o-clock.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-24-fill-clock.svg");
        }
      }

      &.icon-close {
        background-image: url("../images/icon/icon-24-o-close.svg");
      }

      &.icon-cross {
        background-image: url("../images/icon/icon-24-o-cross.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-24-fill-cross.svg");
        }
      }

      &.icon-exchange {
        background-image: url("../images/icon/icon-24-o-exchange.svg");
      }

      &.icon-event-acceleration {
        background-image: url("../images/icon/icon-24-fill-event-acceleration.svg");
      }

      &.icon-event-brake {
        background-image: url("../images/icon/icon-24-fill-event-brake.svg");
      }

      &.icon-event-collision {
        background-image: url("../images/icon/icon-24-fill-event-collision.svg");
      }

      &.icon-event-corner {
        background-image: url("../images/icon/icon-24-fill-event-corner.svg");
      }

      &.icon-event-pause {
        background-image: url("../images/icon/icon-24-fill-event-pause.svg");
      }

      &.icon-event-play {
        background-image: url("../images/icon/icon-24-fill-event-play.svg");
      }

      &.icon-event-recall {
        background-image: url("../images/icon/icon-24-fill-event-recall.svg");
      }

      &.icon-event-speeding {
        background-image: url("../images/icon/icon-24-fill-event-speeding.svg");
      }

      &.icon-minus {
        background-image: url("../images/icon/icon-24-o-minus.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-24-fill-minus.svg");
        }
      }

      &.icon-plus {
        background-image: url("../images/icon/icon-24-o-plus.svg");

        &.icon-fill {
          background-image: url("../images/icon/icon-24-fill-plus.svg");
        }
      }

      &.icon-redo {
        background-image: url("../images/icon/icon-24-o-redo.svg");
      }

      &.icon-referral {
        background-image: url("../images/icon/icon-24-o-referral.svg");
      }

      &.icon-undo {
        background-image: url("../images/icon/icon-24-o-undo.svg");
      }

      // 24px map icons
      &.icon-map-event-acceleration-active {
        background-image: url("../images/icon/icon-24-map-event-acceleration-active.svg");
      }

      &.icon-map-event-acceleration-inactive {
        background-image: url("../images/icon/icon-24-map-event-acceleration-inactive.svg");
      }

      &.icon-map-event-brake-active {
        background-image: url("../images/icon/icon-24-map-event-brake-active.svg");
      }

      &.icon-map-event-brake-inactive {
        background-image: url("../images/icon/icon-24-map-event-brake-inactive.svg");
      }

      &.icon-map-event-collision-active {
        background-image: url("../images/icon/icon-24-map-event-collision-active.svg");
      }

      &.icon-map-event-collision-inactive {
        background-image: url("../images/icon/icon-24-map-event-collision-inactive.svg");
      }

      &.icon-map-event-corner-active {
        background-image: url("../images/icon/icon-24-map-event-corner-active.svg");
      }

      &.icon-map-event-corner-inactive {
        background-image: url("../images/icon/icon-24-map-event-corner-inactive.svg");
      }

      &.icon-map-event-recall-active {
        background-image: url("../images/icon/icon-24-map-event-recall-active.svg");
      }

      &.icon-map-event-recall-inactive {
        background-image: url("../images/icon/icon-24-map-event-recall-inactive.svg");
      }

      &.icon-map-event-speeding-active {
        background-image: url("../images/icon/icon-24-map-event-speeding-active.svg");
      }

      &.icon-map-event-speeding-inactive {
        background-image: url("../images/icon/icon-24-map-event-speeding-inactive.svg");
      }

      &.icon-map-vehicle-disabled {
        background-image: url("../images/icon/icon-24-map-vehicle-disabled.svg");
      }

      &.icon-map-vehicle-driving {
        background-image: url("../images/icon/icon-24-map-vehicle-driving.svg");
      }

      &.icon-map-vehicle-driving-direction {
        background-image: url("../images/icon/icon-24-map-vehicle-driving-direction.svg");
      }

      &.icon-map-vehicle-stationary {
        background-image: url("../images/icon/icon-24-map-vehicle-stationary.svg");
      }

      // 24px overlay icons
      &.icon-overlay-compass-dynamic {
        background-image: url("../images/icon/icon-24-o-overlay-compass-dynamic.svg");
      }

      &.icon-overlay-cross {
        background-image: url("../images/icon/icon-24-o-overlay-cross.svg");
      }

      &.icon-overlay-redo {
        background-image: url("../images/icon/icon-24-o-overlay-redo.svg");
      }

      &.icon-overlay-undo {
        background-image: url("../images/icon/icon-24-o-overlay-undo.svg");
      }

      &.icon-overlay-video-download {
        background-image: url("../images/icon/icon-24-o-overlay-video-download.svg");
      }

      &.icon-overlay-video-fullscreen {
        background-image: url("../images/icon/icon-24-o-overlay-video-fullscreen.svg");
      }

    }

    // 120px
    &.icon-size-120 {
      height: 120px;
      width: 120px;

      &.icon-alert {
        background-image: url("../images/icon/icon-120-o-alert.svg");
      }

      &.icon-archive {
        background-image: url("../images/icon/icon-120-o-archive.svg");
      }

      &.icon-dashcam {
        background-image: url("../images/icon/icon-120-o-dashcam.svg");
      }

      &.icon-dashcam-recall {
        background-image: url("../images/icon/icon-120-o-dashcam-recall.svg");
      }

      &.icon-developers {
        background-image: url("../images/icon/icon-120-o-developers.svg");
      }

      &.icon-driver {
        background-image: url("../images/icon/icon-120-o-driver.svg");
      }

      &.icon-driver-add {
        background-image: url("../images/icon/icon-120-o-driver-add.svg");
      }

      &.icon-driver-invite {
        background-image: url("../images/icon/icon-120-o-driver-invite.svg");
      }

      &.icon-error {
        background-image: url("../images/icon/icon-120-o-error.svg");
      }

      &.icon-file {
        background-image: url("../images/icon/icon-120-o-file.svg");
      }

      &.icon-file-import {
        background-image: url("../images/icon/icon-120-o-file-import.svg");
      }

      &.icon-file-upload {
        background-image: url("../images/icon/icon-120-o-file-upload.svg");
      }

      &.icon-geofence {
        background-image: url("../images/icon/icon-120-o-geofence.svg");
      }

      &.icon-group {
        background-image: url("../images/icon/icon-120-o-group.svg");
      }

      &.icon-ifta {
        background-image: url("../images/icon/icon-120-o-ifta.svg");
      }

      &.icon-location {
        background-image: url("../images/icon/icon-120-o-location.svg");
      }

      &.icon-location-unavailable {
        background-image: url("../images/icon/icon-120-o-location-unavailable.svg");
      }

      &.icon-maintenance {
        background-image: url("../images/icon/icon-120-o-maintenance.svg");
      }


      &.icon-message {
        background-image: url("../images/icon/icon-120-o-message.svg");
      }

      &.icon-overview {
        background-image: url("../images/icon/icon-120-o-overview.svg");
      }

      &.icon-pending {
        background-image: url("../images/icon/icon-120-o-pending.svg");
      }

      &.icon-phone {
        background-image: url("../images/icon/icon-120-o-phone.svg");
      }

      &.icon-record {
        background-image: url("../images/icon/icon-120-o-record.svg");
      }

      &.icon-report {
        background-image: url("../images/icon/icon-120-o-report.svg");
      }

      &.icon-report-locked {
        background-image: url("../images/icon/icon-120-o-report-locked.svg");
      }

      &.icon-scorecard {
        background-image: url("../images/icon/icon-120-o-scorecard.svg");
      }

      &.icon-scorecard-leader {
        background-image: url("../images/icon/icon-120-o-scorecard-leader.svg");
      }

      &.icon-search {
        background-image: url("../images/icon/icon-120-o-search.svg");
      }

      &.icon-sign {
        background-image: url("../images/icon/icon-120-o-sign.svg");
      }

      &.icon-stopwatch {
        background-image: url("../images/icon/icon-120-o-stopwatch.svg");
      }

      &.icon-success {
        background-image: url("../images/icon/icon-120-o-success.svg");
      }

      &.icon-sucess-wait {
        background-image: url("../images/icon/icon-120-o-success-wait.svg");
      }

      &.icon-unknown {
        background-image: url("../images/icon/icon-120-o-unknown.svg");
      }

      &.icon-vehicle {
        background-image: url("../images/icon/icon-120-o-vehicle.svg");
      }

      &.icon-video-pending {
        background-image: url("../images/icon/icon-120-o-video-pending.svg");
      }

      &.icon-warning {
        background-image: url("../images/icon/icon-120-o-warning.svg");
      }

      &.icon-play {
        background-image: url("../images/icon/icon-120-fill-play.svg");
      }
    }
  }
}

// Link
.sg-markup-base-link-html .sg-example {
  .link {
    &.link-disabled {
      color: $blue-20;
    }

    &.link-subtle {
      color: $grey-50;

      &.link-hover {
        color: $grey-60;
      }

      &.link-active,
      &.link-focus {
        color: $grey-70;
      }

      &.link-disabled {
        color: $grey-20;
      }
    }

    &.link-delete {
      color: $red-50;

      &.link-hover {
        color: $red-60;
      }

      &.link-active,
      &.link-focus {
        color: $red-70;
      }

      &.link-disabled {
        color: $red-20;
      }
    }
  }
}

// Type
.sg-markup-base-type-html .sg-example {
  h1 {
    margin: 0 0 2.4rem 0;
  }

  h2 {
    margin: 4rem 0 2rem 0;
  }

  h3 {
    margin: 3rem 0 1.5rem 0;
  }

  h4 {
    margin: 2rem 0 1rem 0;
  }

  h5 {
    margin: 2rem 0 1rem 0;
  }

  h6 {
    margin: 2rem 0 1rem 0;
  }

  ol,
  ul {
    margin: 0;
    padding: 0 0 0 1.6rem;

    ol,
    ul {

      margin: 0.4rem 0;
    }
  }
}





// Card
.sg-markup-component-card-html .sg-example {
  .component-card {
    .container-card-header {
      color: $grey-80;
      font-weight: 600;
      margin-bottom: 0.8rem;
    }

    .container-card-body {
      background: #fff;
      border: 1px solid $grey-20;
      border-radius: 4px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

      .container-card-sub-header {
        border-bottom: 1px solid $grey-20;
        color: $grey-40;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.4px;
        line-height: 22px;
        padding: 0.6rem 0.8rem;
        text-align: center;
        text-transform: uppercase;
      }

      .container-card-main-content {
        border-radius: 0 0 4px 4px;
        padding: 0.6rem 0.8rem;

        p {
          margin-top: 0;
        }
      }
    }
  }
}

// Popover
.sg-markup-component-popover-html .sg-example {

  .popover {
    background-color: #fff;
    border: 1px solid $grey-30;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    margin: 16px 0;
    max-width: 240px;
    padding: 16px;
    position: relative;

    .icon-close-grey {
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 8px;
      height: 20px;
      width: 20px;
      background: url("../images/icon/icon-20-o-close-grey50.svg");
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }

    .popover-heading {
      color: $grey-70;
      font-weight: 600;
      margin-bottom: 8px;
    }

    p {
      margin: 0 0 6px 0;
    }

    // Nub
    &:before,
    &:after {
      background-color: $grey-30;
      content: "";
      width: 8px;
      height: 8px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      right: auto;
      bottom: auto;
    }

    &:before {
      background-color: $grey-30;
      z-index: 1;
    }

    &:after {
      background-color: $white-10;
      z-index: 2;
    }

    &.popover-top-left {

      &:after {
        top: -3px;
      }

      &:before {
        top: -5px;
      }
    }
  }
}

// Grid
.sg-markup-base-grid-html .sg-example {
  .container-grid {
    border: 1px solid $grey-20;
    padding: 20px;

    .row {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
      height: 30px;
      margin: 10px;

      &.col-2 {
        grid-template-columns: 1fr 1fr;
      }

      .column {
        background: $red-20;
      }
    }
  }
}


