<div class="col col-8">
  <div class="container">
    <p>Initial</p>
    <div class="badge badge-driving">D</div>
    <div class="badge badge-on-duty">On</div>
    <div class="badge badge-off-duty">Off</div>
    <div class="badge">SB</div>
    <div class="badge">WT</div>
  </div>
  <div class="container">
    <p>Word</p>
    <div class="badge badge-word badge-major">Major</div>
    <div class="badge badge-word badge-minor">Minor</div>
    <div class="badge badge-word badge-beta">Beta</div>
  </div>
  <div class="container">
    <p>Count</p>
    <div class="badge badge-count">+99</div>
  </div>
</div>
