<div class="col">
  <div class="container">
    <p>.button-row</p>
    <div class="button-row button-row-container ">
      <a href="#" class="button button-size-md">Button</a>
      <a href="#" class="button button-size-md">Button</a>
    </div>
  </div>
  <div class="container">
    <p>.button-row .button-row-split</p>
    <div class="button-row button-row-container button-row-split">
      <a href="#" class="button button-size-md button-subtle">Button</a>
      <a href="#" class="button button-size-md">Button</a>
    </div>
  </div>
</div>
