<div class="col col-2">
  <div class="card">
    <div class="card-header">
      Card Header
    </div>
    <div class="card-container">
        <div class="card-sub-header">
            Card Sub Header
          </div>
      <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices est pretium ultricies eleifend.
          Fusce in dolor vitae sem eleifend sollicitudin et sed lorem. Vestibulum iaculis pharetra ligula, nec congue
          diam mattis ut.</p>
        <p>Cras dictum ac orci non scelerisque. Etiam et commodo est, ac vehicula sem. Ut ullamcorper molestie
          porttitor.</p>
      </div>
    </div>
  </div>
</div>