<div class="col col-2">
  <div class="container">
    <p class="col-header">.card</p>
    <div class="card">
      <div class="card-header">
        Card Header
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-sub-header">
            Card Sub Header
          </div>
          <div class="card-main-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices est pretium ultricies eleifend.
              Fusce in dolor vitae sem eleifend sollicitudin et sed lorem. Vestibulum iaculis pharetra ligula, nec congue
              diam mattis ut.</p>
            <p>Cras dictum ac orci non scelerisque. Etiam et commodo est, ac vehicula sem. Ut ullamcorper molestie
              porttitor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="col-header">.card .card-list</p>
    <div class="card">
      <div class="card-header">
        Card Header
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-table">
            <div class="card-table-row">
              <div class="table-cell table-cell-head">Label</div>
              <div class="table-cell">Value</div>
            </div>
            <div class="card-table-row">
              <div class="table-cell table-cell-head">Label</div>
              <div class="table-cell">Value</div>
            </div>
            <div class="card-table-row">
              <div class="table-cell table-cell-head">Label</div>
              <div class="table-cell">Value</div>
            </div>
            <div class="card-table-row">
              <div class="table-cell table-cell-head">Label</div>
              <div class="table-cell">Value</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
