<div class="col col-2">
  <div class="container component component-card">
    <div class="container-card-header">
      Card Header
    </div>
    <div class="container-card-body">
      <div class="container-card-sub-header">
        Card Sub Header
      </div>
      <div class="container-card-main-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices est pretium ultricies eleifend. Fusce in dolor vitae sem eleifend sollicitudin et sed lorem. Vestibulum iaculis pharetra ligula, nec congue diam mattis ut.</p>
        <p>Cras dictum ac orci non scelerisque. Etiam et commodo est, ac vehicula sem. Ut ullamcorper molestie porttitor.</p>
      </div>
    </div>
  </div>
</div>
