<div class="col col-8">
    <div class="container">
      <p>Single Select</p>
      <div class="filter">
        <input class="active-item single-select" placeholder="Filter by..." type="text" value="List Item 2"/>
        <span class="icon icon-size-16 icon-chevron-down"></span>
        <ul class="filter-dropdown">
          <li>List item 1</li>
          <li class="active-item">List item 2</li>
          <li>List item 3</li>
        </ul>
      </div>
    </div>
    <div class="container">
      <p>Multi Select</p>
      <div class="filter">
        <input class="multi-input" value="Selected Item" type="text" disabled="" />
        <ul class="filter-dropdown radio-list">
          <li>
            <input type="checkbox" name="item1" checked>
            Selected Item
          </li>
          <p class="filter-title">Groups</p>
          <li>
            <input type="checkbox" name="item1">
            Item
          </li>
          <li>
            <input type="checkbox" name="item1">
            Item
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <p>Typeable Multiselect</p>
      <div class="filter">
        <div class="typeable-select">
          <div class="pill-container">
            <div class="pill">
              <span class="pill-text">foo</span>
              <span class="pill-close"></span>
            </div>
            <div class="pill">
              <span class="pill-text">bar</span>
              <span class="pill-close"></span>
            </div>
          </div>
          <input type="text" disabled/>
        </div>
        <ul class="filter-dropdown typeable-select-list">
          <li>foo</li>
          <li class="active-item">bar</li>
          <li>biz</li>
        </ul>
      </div>
    </div>
</div>
