<div class="input-components">
  <label class="input-label">Default</label>
  <input class="default-input" type="text" name="" placeholder="Value...">

  <label class="input-label">Disabled State</label>
  <input class="disabled-input" type="text" name="" placeholder="Disabled" disabled>

  <label class="input-label">Required *</label>
  <input class="required-input" type="text" name="" placeholder="Required" required>

  <label class="input-label" >Error State</label>
  <input class="error-input" type="text" name="" placeholder="Error text">

  <label class="input-label" >Success state</label>
  <input class="success-input" type="text" name="" value="Success text">
</div>