<div class="col col-4">
  <div class="container">
    <span><strong>Position:</strong>  Always vertically center in the viewport</span>
  </div>
  <div class="container">
    <span><strong>Overlay:</strong> $grey-80, #262F36, opacity: 0.8</span>
  </div>
  <div class="container">
    <span><strong>Animation:</strong>  0.3s, ease</span>
  </div>
</div>

<div class="bg-overlay">
    <div class="modal modal-primary">
      <a href="#"><span class="icon icon-size-20 icon-close-grey"></span></a>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh diam, venenatis id ultrices vitae.</span>
    </div>
</div>
