<div class="col col-4">
  <div class="container">
    <p class="variant-sm"><strong>Position:</strong></p>
    <p class="variant-sm">Always horizontally and vertically centered in viewport</p>
  </div>
  <div class="container">
    <p class="variant-sm"><strong>Overlay:</strong></p>
    <p class="variant-sm">$grey-80, opacity: 0.8 </p>
  </div>
  <div class="container">
    <p class="variant-sm"><strong>Animation:</strong></p>
    <p class="variant-sm">0.3s, ease</p>
  </div>
</div>

<div class="col">
  <div class="container">
    <p>Primary Modal</p>
    <div class="bg-overlay">
      <div class="modal modal-primary">
        <a href="#"><span class="icon icon-size-20 icon-close-grey"></span></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh diam, venenatis id ultrices vitae.</p>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="container">
    <p>Standard Modal</p>
    <div class="bg-overlay">
      <div class="modal modal-standard">
        <a href="#"><span class="icon icon-size-20 icon-close-grey"></span></a>
        <div class="modal-header">
          <p class="modal-title">Title go here</p>
          <p class="modal-subtitle">Subtitle go here</p>
        </div>
        <div class="modal-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh diam, venenatis id ultrices vitae.</p>
        </div>
        <div class="modal-footer">
          <div class="button-row button-row-split">
            <a href="#" class="button button-size-md button-subtle">Button</a>
            <a href="#" class="button button-size-md">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>