<p>Single</p>
<div class="notification notification-info">
  <a href="#"><span class="icon icon-size-16 icon-clear"></span></a>
  <strong>Info Message.</strong> Consequatur facere deleniti <a href="#">link</a>. Cumque ducimus maiores nemo.
</div>

<div class="notification notification-success">
  <a href="#"><span class="icon icon-size-16 icon-clear"></span></a>
  <strong>Success Message.</strong> Totam officiis dolorum voluptatibus <a href="#">link</a>. Maxime molestiae iste.
</div>

<div class="notification notification-warning">
  <a href="#"><span class="icon icon-size-16 icon-clear"></span></a>
  <strong>Warning Message.</strong> Numquam quos fuga quam suscipit <a href="#">link</a>. Sapiente perferendis magnam.
</div>

<div class="notification notification-error">
  <a href="#"><span class="icon icon-size-16 icon-clear"></span></a>
  <strong>Error Message.</strong> Numquam quos fuga quam suscipit <a href="#">link</a>. Sapiente perferendis magnam.
</div>

<p>Multi</p>
<div class="notification notification-info notification-with-heading">
  <a href="#"><span class="icon icon-size-16 icon-clear"></span></a>
  <strong>Notification Title</strong>
  <p>Body text to go here, perhaps include a <a href="#">link</a>. Totam officiis dolorum voluptatibus maxime molestiae.</p>
</div>
