<div class="notification notification-info">
  <strong>Info Message!</strong> Consequatur facere deleniti cumque ducimus maiores nemo.
</div>

<div class="notification notification-success">
  <strong>Success Message!</strong> Totam officiis dolorum voluptatibus maxime molestiae iste.
</div>

<div class="notification notification-error">
  <strong>Error Message!</strong> Numquam quos fuga quam suscipit sapiente perferendis magnam.
</div>

<div class="notification notification-info notification-with-heading">
  <strong>Info Message!</strong> Consequatur facere deleniti cumque ducimus maiores nemo.
</div>
