<p>Notification Single</p>
<div class="notification notification-info">
  <div class="icon icon-size-16 icon-clear"></div>
  <strong>Info Message!</strong> Consequatur facere deleniti <a href="#">link</a>. Cumque ducimus maiores nemo.
</div>

<div class="notification notification-success">
  <div class="icon icon-size-16 icon-clear"></div>
  <strong>Success Message!</strong> Totam officiis dolorum voluptatibus <a href="#">link</a>. Maxime molestiae iste.
</div>

<div class="notification notification-warning">
  <div class="icon icon-size-16 icon-clear"></div>
  <strong>Warning Message!</strong> Numquam quos fuga quam suscipit <a href="#">link</a>. Sapiente perferendis magnam.
</div>

<div class="notification notification-error">
  <div class="icon icon-size-16 icon-clear"></div>
  <strong>Error Message!</strong> Numquam quos fuga quam suscipit <a href="#">link</a>. Sapiente perferendis magnam.
</div>

<p>Notification Multi</p>
<div class="notification notification-info notification-with-heading">
  <div class="icon icon-size-16 icon-clear"></div>
  <strong>Notification Title!</strong>
  <p>Body text to go here, perhaps include a <a href="#">link</a>. Totam officiis dolorum voluptatibus maxime molestiae.</p>
</div>
