<div class="col col-4">
    <div class="container">
        <p class="col-header">Header/Page title-bar item level</p>
    </div>
    <div class="container">
        <div class="pagination">
            <span class="pagination-label">Page 1 of 30</span>
            <a href="#" class="button button-left button-size-md  button-subtle"><span class="icon icon-left"></span></a>
            <a href="#" class="button button-right button-size-md button-subtle"><span class="icon icon-right"></span></a>
        </div>
    </div>

</div>

<div class="col col-4">
    <div class="container">
        <p class="col-header">Detail page, card-table normal</p>
    </div>
    <div class="container">
        <div class="pagination">
            <span class="pagination-label">Page 1 of 3</span>
            <a href="#" class="button button-size-md  button-round">
                <span class="icon icon-left"></span>
            </a>
            <a href="#" class="button button-size-md button-round">
                <span class="icon icon-right"></span>
            </a>
        </div>
    </div>
</div>