
<p>Popover with arrows on top</p>
<div class="col col-4">
  <div class="container">
    <div class="popover arrow-top-left">
      <p>Popover body content to go here. Popover body content to go here.</p>
    </div>
  </div>
  <div class="container">
    <div class="popover arrow-top-center">
      <p>Popover body content to go here. Popover body content to go here.</p>
    </div>
  </div>
  <div class="container">
    <div class="popover arrow-top-right">
      <p>Popover body content to go here. Popover body content to go here.</p>
    </div>
  </div>
</div>

<p>Popover with heading</p>
<div class="col col-4">
  <div class="container">
    <div class="popover arrow-top-left">
      <span class="popover-heading">List Item</span>
      <a href="#"><span class="icon icon-size-16 icon-close-grey"></span></a>
      <p>Popover body content to go here. Popover body to go here with <a href="#sg-markup-component-popover-html">a link</a>.</p>
    </div>
  </div>
</div>
