<p>Displayed on click, can contain paragraphs and buttons.</p>
<div class="col col-4">
  <div class="container">
    <p>Multi Line + Link</p>
    <div class="popover popover-top-left">
      <a href="#"><span class="icon icon-size-20 icon-close-grey"></span></a>
      <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit.</p>
    </div>
  </div>
  <div class="container">
    <p>Multi Line + Button</p>
    <div class="popover popover-top-left">
      <a href="#sg-markup-component-popover-html"><span class="icon icon-size-20 icon-close-grey"></span></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="row-button">
        <a href="#" class="button button-size-xs">Button</a>
      </div>
    </div>
  </div>
  <div class="container">
    <p>Multi Line + Multi Button</p>
    <div class="popover popover-top-left">
      <a href="#sg-markup-component-popover-html"><span class="icon icon-size-20 icon-close-grey"></span></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="row-button">
        <a href="#" class="button button-size-xs">Button</a>
        <a href="#" class="button button-size-xs">Button</a>
      </div>
    </div>
  </div>
  <div class="container">
    <p>Multi Parapgrah + Heading</p>
    <div class="popover popover-top-left">
      <a href="#"><span class="icon icon-size-20 icon-close-grey"></span></a>
      <p class="popover-heading">Heading</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>

<p>For position/orientation see <a href="http://ktdesignsystem.local/v1/#sg-markup-component-tooltip-html">Tooltip Component</a>.
</p>
