Notes: Displayed on click, can include other components such as lists, avatars etc.
<div class="col col-4">
  <div class="container">
    <p>Single Line</p>
    <div class="popover popover-top-left">
      <a href="#sg-markup-component-popover-html"><span class="icon icon-size-20 icon-close-grey"></span></a>
      <p>Popover body content to go here. Popover body content to go here.</p>
    </div>
  </div>

  <div class="container">
    <p>Heading + Link</p>
    <div class="popover popover-top-left">
      <a href="#sg-markup-component-popover-html"><span class="icon icon-size-20 icon-close-grey"></span></a>
      <span class="popover-heading">List Item</span>
      <p>Popover body content to go here. Popover body to go here with <a href="#sg-markup-component-popover-html">a link</a>.</p>
    </div>
  </div>

</div>
