<p>Row heading table (4 columns)</p>

<div class="table table-col-4">

  <div class="table-cell table-cell-head">Table Header</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell">Table Cell</div>

  <div class="table-cell table-cell-head">Table Header</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell">Table Cell</div>

  <div class="table-cell table-cell-head">Table Header</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell">Table Cell</div>

</div>

<p>Column headings table (6 columns)</p>

<div class="table table-col-6">

  <div style="order:1;" class="table-cell table-cell-head">
    Table Header
    <a><span class="icon icon-size-16 icon-chevron-up"></span></a>
  </div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell">Table Cell</div>
  <div style="order:4;" class="table-cell">Table Cell</div>

  <div style="order:1;" class="table-cell table-cell-head">
    Table Header
    <a><span class="icon icon-size-16 icon-chevron-down"></span></a>
  </div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell">Table Cell</div>
  <div style="order:4;" class="table-cell">Table Cell</div>

  <div style="order:1;" class="table-cell table-cell-head">Table Header</div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell">Table Cell</div>
  <div style="order:4;" class="table-cell">Table Cell</div>

  <div style="order:1;" class="table-cell table-cell-head">Table Header</div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell">Table Cell</div>
  <div style="order:4;" class="table-cell">Table Cell</div>

  <div style="order:1;" class="table-cell table-cell-head">Heading E</div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell">Table Cell</div>
  <div style="order:4;" class="table-cell">Table Cell</div>

  <div style="order:1;" class="table-cell table-cell-head">Heading F</div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell">Table Cell</div>
  <div style="order:4;" class="table-cell">Table Cell</div>

</div>


<p>Collapsible (by column)</p>
<div class="table table-col-4 table-collapse">

  <div style="order:0;" class="table-cell table-cell-head">Table Header</div>
  <div style="order:1;" class="table-cell">Table Cell</div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell table-cell-foot">Table Cell</div>

  <div style="order:0;" class="table-cell table-cell-head">Table Header</div>
  <div style="order:1;" class="table-cell">Table Cell</div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell table-cell-foot">Table Cell</div>

  <div style="order:0;" class="table-cell table-cell-head">Table Header</div>
  <div style="order:1;" class="table-cell">Table Cell</div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell table-cell-foot">Table Cell</div>

  <div style="order:0;" class="table-cell table-cell-head">Table Header</div>
  <div style="order:1;" class="table-cell">Table Cell</div>
  <div style="order:2;" class="table-cell">Table Cell</div>
  <div style="order:3;" class="table-cell table-cell-foot">Table Cell</div>


</div>

<p>Collapsible (by row)</p>
<div class="table table-col-4 table-collapse">

  <div class="table-cell table-cell-head">Table Header</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell table-cell-foot">Table Cell</div>

  <div class="table-cell table-cell-head">Table Header</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell">Table Cell</div>
  <div class="table-cell table-cell-foot">Table Cell</div>

</div>
