<p>Row heading table (4 columns)</p>

<div class="table table-4cols">

  <div class="table-cell table-cell-head">Heading A</div>
  <div class="table-cell">Detail Item One</div>
  <div class="table-cell">Detail Item Two</div>
  <div class="table-cell">Detail Item Three</div>

  <div class="table-cell table-cell-head">Heading B</div>
  <div class="table-cell">Detail Item One</div>
  <div class="table-cell">Detail Item Two</div>
  <div class="table-cell">Detail Item Three</div>

  <div class="table-cell table-cell-head">Heading C</div>
  <div class="table-cell">Detail Item One</div>
  <div class="table-cell">Detail Item Two</div>
  <div class="table-cell">Detail Item Three</div>

</div>

<p>Column headings table (6 columns)</p>

<div class="table table-6cols">

  <div style="order:1;" class="table-cell table-cell-head">Heading A</div>
  <div style="order:2;" class="table-cell">Detail Item One</div>
  <div style="order:3;" class="table-cell">Detail Item Two</div>
  <div style="order:4;" class="table-cell">Detail Item Three</div>

  <div style="order:1;" class="table-cell table-cell-head">Heading B</div>
  <div style="order:2;" class="table-cell">Detail Item One</div>
  <div style="order:3;" class="table-cell">Detail Item Two</div>
  <div style="order:4;" class="table-cell">Detail Item Three</div>

  <div style="order:1;" class="table-cell table-cell-head">Heading C</div>
  <div style="order:2;" class="table-cell">Detail Item One</div>
  <div style="order:3;" class="table-cell">Detail Item Two</div>
  <div style="order:4;" class="table-cell">Detail Item Three</div>

  <div style="order:1;" class="table-cell table-cell-head">Heading D</div>
  <div style="order:2;" class="table-cell">Detail Item One</div>
  <div style="order:3;" class="table-cell">Detail Item Two</div>
  <div style="order:4;" class="table-cell">Detail Item Three</div>

  <div style="order:1;" class="table-cell table-cell-head">Heading E</div>
  <div style="order:2;" class="table-cell">Detail Item One</div>
  <div style="order:3;" class="table-cell">Detail Item Two</div>
  <div style="order:4;" class="table-cell">Detail Item Three</div>

  <div style="order:1;" class="table-cell table-cell-head">Heading F</div>
  <div style="order:2;" class="table-cell">Detail Item One</div>
  <div style="order:3;" class="table-cell">Detail Item Two</div>
  <div style="order:4;" class="table-cell">Detail Item Three</div>

</div>


<p>Collapsible (by column)</p>
<div class="table table-4cols table-collapse">

  <div style="order:0;" class="table-cell table-cell-head">Heading A</div>
  <div style="order:1;" class="table-cell">Detail Item One</div>
  <div style="order:2;" class="table-cell">Detail Item Two</div>
  <div style="order:3;" class="table-cell table-cell-foot">Detail Item Three</div>

  <div style="order:0;" class="table-cell table-cell-head">Heading B</div>
  <div style="order:1;" class="table-cell">Detail Item One</div>
  <div style="order:2;" class="table-cell">Detail Item Two</div>
  <div style="order:3;" class="table-cell table-cell-foot">Detail Item Three</div>

  <div style="order:0;" class="table-cell table-cell-head">Heading C</div>
  <div style="order:1;" class="table-cell">Detail Item One</div>
  <div style="order:2;" class="table-cell">Detail Item Two</div>
  <div style="order:3;" class="table-cell table-cell-foot">Detail Item Three</div>

  <div style="order:0;" class="table-cell table-cell-head">Heading D</div>
  <div style="order:1;" class="table-cell">Detail Item One</div>
  <div style="order:2;" class="table-cell">Detail Item Two</div>
  <div style="order:3;" class="table-cell table-cell-foot">Detail Item Three</div>


</div>

<p>Collapsible (by row)</p>
<div class="table table-4cols table-collapse">

  <div class="table-cell table-cell-head">Heading A</div>
  <div class="table-cell">Detail Item One</div>
  <div class="table-cell">Detail Item Two</div>
  <div class="table-cell table-cell-foot">Detail Item Three</div>

  <div class="table-cell table-cell-head">Heading B</div>
  <div class="table-cell">Detail Item One</div>
  <div class="table-cell">Detail Item Two</div>
  <div class="table-cell table-cell-foot">Detail Item Three</div>

</div>
