<div class="col col-2">

  <div class="container">
    <p class="col-header">Toggle Single</p>
    <p>
      <a href="#" class="toggle-button toggle-button-wide toggle-button-left toggle-button-size-md">On</a>
      <a href="#" class="toggle-button toggle-button-wide toggle-button-right toggle-button-size-md toggle-button-subtle">Off</a>
    </p>
  </div>

  <div class="container">
    <p class="col-header">Toggle Multi</p>
    <p>
      <a href="#" class="toggle-button toggle-button-wide toggle-button-left toggle-button-size-md">On</a>
      <a href="#" class="toggle-button toggle-button-wide toggle-button-center toggle-button-size-md toggle-button-subtle">Off</a>
      <a href="#" class="toggle-button toggle-button-wide toggle-button-right toggle-button-size-md toggle-button-subtle">Off</a>
    </p>
  </div>

  <div class="container">
    <p class="col-header">Toggle with Icon</p>
    <p>
      <a href="#" class="toggle-button toggle-button-wide toggle-button-left toggle-button-size-md"><span class="icon"></span>On</a>
      <a href="#" class="toggle-button toggle-button-wide toggle-button-right toggle-button-size-md toggle-button-subtle"><span class="icon icon-grey"></span>Off</a>
    </p>
  </div>

  <div class="container">
  </div>

  <div class="container">
    <p class="col-header">Toggle Icon Only</p>
    <p>
      <a href="#" class="toggle-button toggle-button-left toggle-button-size-md"><span class="icon"></span></a>
      <a href="#" class="toggle-button toggle-button-right toggle-button-size-md toggle-button-subtle"><span class="icon icon-grey"></span></a>
    </p>
  </div>

  <div class="container">
    <p class="col-header">Toggle Multi Icon Only</p>
    <p>
      <a href="#" class="toggle-button toggle-button-left toggle-button-size-md"><span class="icon"></span></a>
      <a href="#" class="toggle-button toggle-button-center toggle-button-size-md toggle-button-subtle"><span class="icon icon-grey"></span></a>
      <a href="#" class="toggle-button toggle-button-right toggle-button-size-md toggle-button-subtle"><span class="icon icon-grey"></span></a>
    </p>
  </div>

  <div class="container">
    <p class="col-header">Toggle Compact</p>
    <label class="toggle-compact">
      <input type="checkbox">
      <div class="slider round">
        <span class="on">On</span>
        <span class="off">Off</span>
      </div>
    </label>
  </div>

</div>
