Displayed on hover, never more than one paragraph, never contains a button.
<div class="col col-4">
  <div class="container">
    <p>Single Line</p>
    <div class="tooltip tooltip-top tooltip-top-left">
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
  <div class="container">
    <p>Multi Line</p>
    <div class="tooltip tooltip-top tooltip-top-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur elit.</p>
    </div>
  </div>
  <div class="container">
    <p>Heading + Link</p>
    <div class="tooltip tooltip-top tooltip-top-left">
      <p class="tooltip-heading">Heading</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit.</p>
    </div>
  </div>
</div>

<p>Position/Orientation</p>
<div class="col col-4">
  <div class="container">
    <div class="tooltip tooltip-top tooltip-top-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur elit.</p>
    </div>
  </div>
  <div class="container">
    <div class="tooltip tooltip-top tooltip-top-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur elit.</p>
    </div>
  </div>
  <div class="container">
    <div class="tooltip tooltip-top tooltip-top-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur elit.</p>
    </div>
  </div>
  <div class="container">
    <div class="tooltip tooltip-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur elit.</p>
    </div>
  </div>
  <div class="container">
    <div class="tooltip tooltip-bottom tooltip-bottom-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur elit.</p>
    </div>
  </div>
  <div class="container">
    <div class="tooltip tooltip-bottom tooltip-bottom-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur elit.</p>
    </div>
  </div>
  <div class="container">
    <div class="tooltip tooltip-bottom tooltip-bottom-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur elit.</p>
    </div>
  </div>
  <div class="container">
    <div class="tooltip tooltip-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur elit.</p>
    </div>
  </div>
</div>
