
<p>Tooltip with arrows on top</p>
<div class="col col-4">
  <div class="container">
    <div class="tooltip tooltip-top-left">
      <p>Tooltip body content to go here. Tooltip body content to go here.</p>
    </div>
  </div>
  <div class="container">
    <div class="tooltip tooltip-top-center">
      <p>Tooltip body content to go here. Tooltip body content to go here.</p>
    </div>
  </div>
  <div class="container">
    <div class="tooltip tooltip-top-right">
      <p>Tooltip body content to go here. Tooltip body content to go here.</p>
    </div>
  </div>
</div>

<p>Tooltip with heading</p>
<div class="col col-4">
  <div class="container">
    <div class="tooltip tooltip-top-left">
      <span class="tooltip-heading">List Item</span>
      <p>Tooltip body content to go here. Tooltip body content with <a href="#sg-markup-component-tooltip-html">link</a> to go here.</p>
    </div>
  </div>
</div>
