// Card
.sg-markup-component-card-html .sg-example {

  .col-header {
    font-size: 14px;
    line-height: 22px;
  }

  .card {
    .card-header {
      color: $grey-80;
      font-weight: 600;
      margin-bottom: 0.8rem;
    }

    .card-sub-header {
      border-bottom: 1px solid $grey-20;
      color: $grey-40;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.4px;
      line-height: 22px;
      padding: 0.6rem 0.8rem;
      text-align: center;
      text-transform: uppercase;
    }

    .card-content {
      background: #fff;
      border: 1px solid $grey-20;
      border-radius: 4px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    .card-main-content {
      padding: 16px 32px;
      p {
        margin-top: 0;
      }
    }
  }

  .card-table-row {
    border-top: 1px solid $grey-20;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 2fr;
    @media (min-width: 1200px) {
      font-size: 14px;
      line-height: 22px;
    }
    &:first-child {
      border-top: none;
    }
  }

  .table-cell {
    padding: 8px 16px;
    @media (min-width: 1200px) {
      padding: 16px 32px;
    }
  }

  .table-cell-head {
    background-color: $grey-10;
    color: $grey-40;
    font-weight: 600;
    text-transform: uppercase;
  }
}
