.single-select {
  border-radius: 4px 4px 0px 0px;
  border-bottom: none;
  background-color: $white-10;
  &:focus,
  &:hover {
    border-bottom: none;
  }
}

.filter-dropdown {
  padding: 0;
  margin: 0;
  border: 1px $grey-20 solid;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  font-size: 14px;
  line-height: 22px;

  .filter-title {
    color: $grey-40;
    font-size: 14px;
    margin-left: 16px;
  }

  li {
    cursor: pointer;
    text-align: left;
    list-style: none;
    padding: 8px 16px;
    &:hover,
    &.active-item {
      background-color: $grey-10;
    }
  }
}

.multi-input {
  background-color: $grey-50;
  border-color: $grey-40;
  color: $grey-20;
  &:hover {
    color: $grey-20;
  }
}

.radio-list,
.typeable-select-list {
  border-top: 1px $grey-20 solid;
  border-radius: 4px;
}

.typeable-select-list {
  margin-top: 8px;
}

.active-item {
  font-weight: 600;
}

.pill-container {
  position: absolute;
  display: flex;
  margin-top: 8px;

  .pill {
    background-color: $grey-10;
    border-radius: 4px;
    padding: 0 8px;
    margin: 0 8px;
  }

  .pill-text {
    border-right: 1px $grey-20 solid;
    padding-right: 4px;
  }

  .pill-close {
    width: 14px;
    height:14px;
    display: inline-block;
    background: url("../images/icon/icon-16-cross.svg") no-repeat;
  }
}

