// Icon
.sg-markup-base-icon-html .sg-example {
    p {
        font-size: 14px;
        line-height: 22px;
    }

    .icon {
        display: inline-block;

        background: {
            repeat: no-repeat;
        }

        // 16px
        &.icon-size-16 {
            height: 16px;
            width: 16px;

            &.blank-placeholder {
                background-color: $grey-10;
            }

            &.icon-chevron-down {
                background-image: url("../images/icon/icon-16-chevron-down.svg");
            }

            &.icon-chevron-up {
                background-image: url("../images/icon/icon-16-chevron-up.svg");
            }

            &.icon-chevron-left {
                background-image: url("../images/icon/icon-16-chevron-left.svg");
            }

            &.icon-chevron-right {
                background-image: url("../images/icon/icon-16-chevron-right.svg");
            }

            &.icon-pop-up-list {
                background-image: url("../images/icon/icon-16-pop-up-list.svg");
            }

            &.icon-cross {
                background-image: url("../images/icon/icon-16-cross.svg");
            }

            &.icon-lock {
                background-image: url("../images/icon/icon-16-lock.svg");
            }

            &.icon-spacer {
                background-image: url("../images/icon/icon-16-spacer.svg");
            }

            &.icon-info {
                background-image: url("../images/icon/icon-16-info.svg");
            }

            &.icon-minimize {
                background-image: url("../images/icon/icon-16-minimize.svg");
            }

            &.icon-maximize {
                background-image: url("../images/icon/icon-16-maximize.svg");
            }

            &.icon-link {
                background-image: url("../images/icon/icon-16-link.svg");
            }
        }

        // 20px
        &.icon-size-20 {
            height: 20px;
            width: 20px;

            &.blank-placeholder {
                background-color: $grey-10;
            }

            &.icon-16-hour-exception {
                background-image: url("../images/icon/icon-20-o-16-hour-exception.svg");
            }

            &.icon-account-security {
                background-image: url("../images/icon/icon-20-o-account-security.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-account-security.svg");
                }
            }

            &.icon-add {
                background-image: url("../images/icon/icon-20-o-add.svg");
            }

            &.icon-alert {
                background-image: url("../images/icon/icon-20-o-alert.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-alert.svg");
                }
            }

            &.icon-app-android-fill {
                background-image: url("../images/icon/icon-20-fill-app-android.svg");
            }

            &.icon-app-ios-fill {
                background-image: url("../images/icon/icon-20-fill-app-ios.svg");
            }

            &.icon-apps {
                background-image: url("../images/icon/icon-20-o-apps.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-apps.svg");
                }
            }

            &.icon-beta {
                background-image: url("../images/icon/icon-20-o-beta.svg");
            }

            &.icon-broadcast {
                background-image: url("../images/icon/icon-20-o-broadcast.svg");
            }

            &.icon-bulb {
                background-image: url("../images/icon/icon-20-o-bulb.svg");
            }

            &.icon-calculator {
                background-image: url("../images/icon/icon-20-o-calculator.svg");
            }

            &.icon-calendar {
                background-image: url("../images/icon/icon-20-o-calendar.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-calendar.svg");
                }
            }

            &.icon-close {
                background-image: url("../images/icon/icon-20-o-close.svg");
            }

            &.icon-coordinates {
                background-image: url("../images/icon/icon-20-o-coordinates.svg");
            }

            &.icon-close {
                background-image: url("../images/icon/icon-20-o-close.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-close.svg");
                }
            }

            &.icon-coaching-coachable {
                background-image: url("../images/icon/icon-20-o-coaching-coachable.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-coaching-coachable.svg");
                }
            }

            &.icon-coaching-coached {
                background-image: url("../images/icon/icon-20-o-coaching-coached.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-coaching-coached.svg");
                }
            }

            &.icon-coaching-locked {
                background-image: url("../images/icon/icon-20-o-coaching-locked.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-coaching-locked.svg");
                }
            }

            &.icon-coaching-pending {
                background-image: url("../images/icon/icon-20-o-coaching-pending.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-coaching-pending.svg");
                }
            }

            &.icon-coaching-uncoachable {
                background-image: url("../images/icon/icon-20-o-coaching-uncoachable.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-coaching-uncoachable.svg");
                }
            }

            &.icon-company {
                background-image: url("../images/icon/icon-20-o-company.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-company.svg");
                }
            }

            &.icon-compass {
                background-image: url("../images/icon/icon-20-o-compass.svg");
            }

            &.icon-costs {
                background-image: url("../images/icon/icon-20-o-costs.svg");
            }

            &.icon-cross {
                background-image: url("../images/icon/icon-20-o-cross.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-cross.svg");
                }
            }

            &.icon-cycle {
                background-image: url("../images/icon/icon-20-o-cycle.svg");
            }

            &.icon-dashcam {
                background-image: url("../images/icon/icon-20-o-dashcam.svg");
            }

            &.icon-dashcam-disconnect {
                background-image: url("../images/icon/icon-20-o-dashcam-disconnect.svg");
            }

            &.icon-dashcam-eld {
                background-image: url("../images/icon/icon-20-o-dashcam-eld.svg");
            }

            &.icon-dashcam-recall {
                background-image: url("../images/icon/icon-20-o-dashcam-recall.svg");
            }

            &.icon-dashcam-video {
                background-image: url("../images/icon/icon-20-o-dashcam-video.svg");
            }

            &.icon-developers {
                background-image: url("../images/icon/icon-20-o-developers.svg");
            }

            &.icon-diagnostics {
                background-image: url("../images/icon/icon-20-o-diagnostics.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-diagnostics.svg");
                }
            }

            &.icon-documents {
                background-image: url("../images/icon/icon-20-o-documents.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-documents.svg");
                }
            }

            &.icon-download {
                background-image: url("../images/icon/icon-20-o-download.svg");
            }

            &.icon-driver {
                background-image: url("../images/icon/icon-20-o-driver.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-driver.svg");
                }
            }

            &.icon-location {
                background-image: url("../images/icon/icon-20-o-location.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-location.svg");
                }
            }

            &.icon-logs {
                background-image: url("../images/icon/icon-20-o-logs.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-logs.svg");
                }
            }

            &.icon-map {
                background-image: url("../images/icon/icon-20-o-map.svg");
            }

            &.icon-message {
                background-image: url("../images/icon/icon-20-o-message.svg");
            }

            &.icon-message-check {
                background-image: url("../images/icon/icon-20-o-message-check.svg");
            }

            &.icon-message-send {
                background-image: url("../images/icon/icon-20-o-message-send.svg");
            }

            &.icon-messages {
                background-image: url("../images/icon/icon-20-o-messages.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-messages.svg");
                }
            }

            &.icon-minus {
                background-image: url("../images/icon/icon-20-o-minus.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-minus.svg");
                }
            }

            &.icon-note {
                background-image: url("../images/icon/icon-20-o-note.svg");
            }

            &.icon-odometer {
                background-image: url("../images/icon/icon-20-o-odometer.svg");
            }

            &.icon-overview {
                background-image: url("../images/icon/icon-20-o-overview.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-overview.svg");
                }
            }

            &.icon-phone {
                background-image: url("../images/icon/icon-20-o-phone.svg");
            }

            &.icon-phone-receiver {
                background-image: url("../images/icon/icon-20-o-phone-receiver.svg");
            }

            &.icon-plus {
                background-image: url("../images/icon/icon-20-o-plus.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-plus.svg");
                }
            }

            &.icon-printer {
                background-image: url("../images/icon/icon-20-o-printer.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-printer.svg");
                }
            }

            &.icon-proximity {
                background-image: url("../images/icon/icon-20-o-proximity.svg");
            }

            &.icon-receipt {
                background-image: url("../images/icon/icon-20-o-receipt.svg");
            }

            &.icon-refresh {
                background-image: url("../images/icon/icon-20-o-refresh.svg");
            }

            &.icon-remark {
                background-image: url("../images/icon/icon-20-o-remark.svg");
            }

            &.icon-remove {
                background-image: url("../images/icon/icon-20-o-remove.svg");
            }

            &.icon-reports {
                background-image: url("../images/icon/icon-20-o-reports.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-reports.svg");
                }
            }

            &.icon-rotate {
                background-image: url("../images/icon/icon-20-o-rotate.svg");
            }

            &.icon-scorecard {
                background-image: url("../images/icon/icon-20-o-scorecard.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-scorecard.svg");
                }
            }

            &.icon-search {
                background-image: url("../images/icon/icon-20-o-search.svg");
            }

            &.icon-settings {
                background-image: url("../images/icon/icon-20-o-settings.svg");
            }

            &.icon-sign {
                background-image: url("../images/icon/icon-20-o-sign.svg");
            }

            &.icon-slide-in {
                background-image: url("../images/icon/icon-20-o-slide-in.svg");
            }

            &.icon-slide-out {
                background-image: url("../images/icon/icon-20-o-slide-out.svg");
            }

            &.icon-speed {
                background-image: url("../images/icon/icon-20-o-speed.svg");
            }

            &.icon-stopwatch {
                background-image: url("../images/icon/icon-20-o-stopwatch.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-stopwatch.svg");
                }
            }

            &.icon-tag {
                background-image: url("../images/icon/icon-20-o-tag.svg");
            }

            &.icon-time {
                background-image: url("../images/icon/icon-20-o-time.svg");
            }

            &.icon-trash {
                background-image: url("../images/icon/icon-20-o-trash.svg");
            }

            &.icon-unlock {
                background-image: url("../images/icon/icon-20-o-unlock.svg");
            }

            &.icon-upgrade {
                background-image: url("../images/icon/icon-20-o-upgrade.svg");
            }

            &.icon-upload {
                background-image: url("../images/icon/icon-20-o-upload.svg");
            }

            &.icon-vehicle {
                background-image: url("../images/icon/icon-20-o-vehicle.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-20-fill-vehicle.svg");
                }
            }

            // 20px map icons
            &.icon-map-event-acceleration-timeline {
                background-image: url("../images/icon/icon-20-map-event-acceleration-timeline.svg");
            }

            &.icon-map-event-brake-timeline {
                background-image: url("../images/icon/icon-20-map-event-brake-timeline.svg");
            }

            &.icon-map-event-collision-timeline {
                background-image: url("../images/icon/icon-20-map-event-collision-timeline.svg");
            }

            &.icon-map-event-corner-timeline {
                background-image: url("../images/icon/icon-20-map-event-corner-timeline.svg");
            }

            &.icon-map-event-recall-timeline {
                background-image: url("../images/icon/icon-20-map-event-recall-timeline.svg");
            }

            &.icon-map-event-speeding-timeline {
                background-image: url("../images/icon/icon-20-map-event-speeding-timeline.svg");
            }

            &.icon-map-vehicle-driving-mark {
                background-image: url("../images/icon/icon-20-map-vehicle-driving-mark.svg");
            }

            &.icon-map-vehicle-driving-mark-eld {
                background-image: url("../images/icon/icon-20-map-vehicle-driving-mark-eld.svg");
            }

        }

        // 24px
        &.icon-size-24 {
            height: 24px;
            width: 24px;

            &.blank-placeholder {
                background-color: $grey-10;
            }

            &.icon-avatar {
                background-image: url("../images/icon/icon-24-o-avatar.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-24-fill-avatar.svg");
                }
            }

            &.icon-clock {
                background-image: url("../images/icon/icon-24-o-clock.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-24-fill-clock.svg");
                }
            }

            &.icon-close {
                background-image: url("../images/icon/icon-24-o-close.svg");
            }

            &.icon-cross {
                background-image: url("../images/icon/icon-24-o-cross.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-24-fill-cross.svg");
                }
            }

            &.icon-exchange {
                background-image: url("../images/icon/icon-24-o-exchange.svg");
            }

            &.icon-event-acceleration {
                background-image: url("../images/icon/icon-24-fill-event-acceleration.svg");
            }

            &.icon-event-brake {
                background-image: url("../images/icon/icon-24-fill-event-brake.svg");
            }

            &.icon-event-collision {
                background-image: url("../images/icon/icon-24-fill-event-collision.svg");
            }

            &.icon-event-corner {
                background-image: url("../images/icon/icon-24-fill-event-corner.svg");
            }

            &.icon-event-pause {
                background-image: url("../images/icon/icon-24-fill-event-pause.svg");
            }

            &.icon-event-play {
                background-image: url("../images/icon/icon-24-fill-event-play.svg");
            }

            &.icon-event-recall {
                background-image: url("../images/icon/icon-24-fill-event-recall.svg");
            }

            &.icon-event-speeding {
                background-image: url("../images/icon/icon-24-fill-event-speeding.svg");
            }

            &.icon-minus {
                background-image: url("../images/icon/icon-24-o-minus.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-24-fill-minus.svg");
                }
            }

            &.icon-plus {
                background-image: url("../images/icon/icon-24-o-plus.svg");

                &.icon-fill {
                    background-image: url("../images/icon/icon-24-fill-plus.svg");
                }
            }

            &.icon-redo {
                background-image: url("../images/icon/icon-24-o-redo.svg");
            }

            &.icon-referral {
                background-image: url("../images/icon/icon-24-o-referral.svg");
            }

            &.icon-undo {
                background-image: url("../images/icon/icon-24-o-undo.svg");
            }

            // 24px map icons
            &.icon-map-event-acceleration-active {
                background-image: url("../images/icon/icon-24-map-event-acceleration-active.svg");
            }

            &.icon-map-event-acceleration-inactive {
                background-image: url("../images/icon/icon-24-map-event-acceleration-inactive.svg");
            }

            &.icon-map-event-brake-active {
                background-image: url("../images/icon/icon-24-map-event-brake-active.svg");
            }

            &.icon-map-event-brake-inactive {
                background-image: url("../images/icon/icon-24-map-event-brake-inactive.svg");
            }

            &.icon-map-event-collision-active {
                background-image: url("../images/icon/icon-24-map-event-collision-active.svg");
            }

            &.icon-map-event-collision-inactive {
                background-image: url("../images/icon/icon-24-map-event-collision-inactive.svg");
            }

            &.icon-map-event-corner-active {
                background-image: url("../images/icon/icon-24-map-event-corner-active.svg");
            }

            &.icon-map-event-corner-inactive {
                background-image: url("../images/icon/icon-24-map-event-corner-inactive.svg");
            }

            &.icon-map-event-recall-active {
                background-image: url("../images/icon/icon-24-map-event-recall-active.svg");
            }

            &.icon-map-event-recall-inactive {
                background-image: url("../images/icon/icon-24-map-event-recall-inactive.svg");
            }

            &.icon-map-event-speeding-active {
                background-image: url("../images/icon/icon-24-map-event-speeding-active.svg");
            }

            &.icon-map-event-speeding-inactive {
                background-image: url("../images/icon/icon-24-map-event-speeding-inactive.svg");
            }

            &.icon-map-vehicle-disabled {
                background-image: url("../images/icon/icon-24-map-vehicle-disabled.svg");
            }

            &.icon-map-vehicle-driving {
                background-image: url("../images/icon/icon-24-map-vehicle-driving.svg");
            }

            &.icon-map-vehicle-driving-direction {
                background-image: url("../images/icon/icon-24-map-vehicle-driving-direction.svg");
            }

            &.icon-map-vehicle-stationary {
                background-image: url("../images/icon/icon-24-map-vehicle-stationary.svg");
            }

            // 24px overlay icons
            &.icon-overlay-compass-dynamic {
                background-image: url("../images/icon/icon-24-o-overlay-compass-dynamic.svg");
            }

            &.icon-overlay-cross {
                background-image: url("../images/icon/icon-24-o-overlay-cross.svg");
            }

            &.icon-overlay-redo {
                background-image: url("../images/icon/icon-24-o-overlay-redo.svg");
            }

            &.icon-overlay-undo {
                background-image: url("../images/icon/icon-24-o-overlay-undo.svg");
            }

            &.icon-overlay-video-download {
                background-image: url("../images/icon/icon-24-o-overlay-video-download.svg");
            }

            &.icon-overlay-video-fullscreen {
                background-image: url("../images/icon/icon-24-o-overlay-video-fullscreen.svg");
            }

        }

        // 120px
        &.icon-size-120 {
            height: 120px;
            width: 120px;

            &.icon-alert {
                background-image: url("../images/icon/icon-120-o-alert.svg");
            }

            &.icon-archive {
                background-image: url("../images/icon/icon-120-o-archive.svg");
            }

            &.icon-dashcam {
                background-image: url("../images/icon/icon-120-o-dashcam.svg");
            }

            &.icon-dashcam-recall {
                background-image: url("../images/icon/icon-120-o-dashcam-recall.svg");
            }

            &.icon-developers {
                background-image: url("../images/icon/icon-120-o-developers.svg");
            }

            &.icon-driver {
                background-image: url("../images/icon/icon-120-o-driver.svg");
            }

            &.icon-driver-add {
                background-image: url("../images/icon/icon-120-o-driver-add.svg");
            }

            &.icon-driver-invite {
                background-image: url("../images/icon/icon-120-o-driver-invite.svg");
            }

            &.icon-error {
                background-image: url("../images/icon/icon-120-o-error.svg");
            }

            &.icon-file {
                background-image: url("../images/icon/icon-120-o-file.svg");
            }

            &.icon-file-import {
                background-image: url("../images/icon/icon-120-o-file-import.svg");
            }

            &.icon-file-upload {
                background-image: url("../images/icon/icon-120-o-file-upload.svg");
            }

            &.icon-geofence {
                background-image: url("../images/icon/icon-120-o-geofence.svg");
            }

            &.icon-group {
                background-image: url("../images/icon/icon-120-o-group.svg");
            }

            &.icon-ifta {
                background-image: url("../images/icon/icon-120-o-ifta.svg");
            }

            &.icon-location {
                background-image: url("../images/icon/icon-120-o-location.svg");
            }

            &.icon-location-unavailable {
                background-image: url("../images/icon/icon-120-o-location-unavailable.svg");
            }

            &.icon-maintenance {
                background-image: url("../images/icon/icon-120-o-maintenance.svg");
            }


            &.icon-message {
                background-image: url("../images/icon/icon-120-o-message.svg");
            }

            &.icon-overview {
                background-image: url("../images/icon/icon-120-o-overview.svg");
            }

            &.icon-pending {
                background-image: url("../images/icon/icon-120-o-pending.svg");
            }

            &.icon-phone {
                background-image: url("../images/icon/icon-120-o-phone.svg");
            }

            &.icon-record {
                background-image: url("../images/icon/icon-120-o-record.svg");
            }

            &.icon-report {
                background-image: url("../images/icon/icon-120-o-report.svg");
            }

            &.icon-report-locked {
                background-image: url("../images/icon/icon-120-o-report-locked.svg");
            }

            &.icon-scorecard {
                background-image: url("../images/icon/icon-120-o-scorecard.svg");
            }

            &.icon-scorecard-leader {
                background-image: url("../images/icon/icon-120-o-scorecard-leader.svg");
            }

            &.icon-search {
                background-image: url("../images/icon/icon-120-o-search.svg");
            }

            &.icon-sign {
                background-image: url("../images/icon/icon-120-o-sign.svg");
            }

            &.icon-stopwatch {
                background-image: url("../images/icon/icon-120-o-stopwatch.svg");
            }

            &.icon-success {
                background-image: url("../images/icon/icon-120-o-success.svg");
            }

            &.icon-sucess-wait {
                background-image: url("../images/icon/icon-120-o-success-wait.svg");
            }

            &.icon-unknown {
                background-image: url("../images/icon/icon-120-o-unknown.svg");
            }

            &.icon-vehicle {
                background-image: url("../images/icon/icon-120-o-vehicle.svg");
            }

            &.icon-video-pending {
                background-image: url("../images/icon/icon-120-o-video-pending.svg");
            }

            &.icon-warning {
                background-image: url("../images/icon/icon-120-o-warning.svg");
            }

            &.icon-play {
                background-image: url("../images/icon/icon-120-fill-play.svg");
            }
        }
    }
}