.sg-markup-component-toggle-html .sg-example {

    .toggle-compact {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 40px;
    }

    .toggle-compact input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $grey-30;
        -webkit-transition: .2s;
        transition: .2s;

        &:before {
            position: absolute;
            content: "";
            height: 34px;
            width: 34px;
            left: 4px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .2s;
            transition: .2s;
        }

        &.round {
            border-radius: $border-radius-x-large;

            &:before {
                border-radius: $border-radius-full;
            }
        }

        .on,
        .off {
            color: white;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            font-weight: 600;
            font-size: 16px;
            -webkit-transition: .2s;
            transition: .2s;
        }

        .on {
            left: calc(50% - 12px);
            display: none;
        }

        .off {
            left: calc(50% + 12px);
        }

    }

    input {
        &:checked+.slider {
            background-color: $blue-50;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked+.slider:before {
            -webkit-transform: translateX(49px);
            -ms-transform: translateX(49px);
            transform: translateX(49px);
        }

        &:checked+.slider .on {
            display: block;
        }

        &:checked+.slider .off {
            display: none;
        }
    }

    .button {
        background: $blue-50;
        border: 1px solid transparent;
        border-radius: $border-radius-default;
        color: $blue-10;
        cursor: default;
        display: inline-block;
        font-weight: 600;
        letter-spacing: 0.4px;
        position: relative;
        text-decoration: none;

        .icon {
            background: {
                image: url("../images/icon/icon-20-fill-coaching-coached-white.svg");
                repeat: no-repeat;
            }

            ;
            display: inline-block;
            height: 20px;
            margin-right: 4px;
            position: relative;
            top: -2px;
            vertical-align: middle;
            width: 20px;

            &.icon-grey {
                background: {
                    image: url("../images/icon/icon-20-fill-coaching-coached-grey.svg");
                    repeat: no-repeat;
                }

                ;
            }
        }

        &.variant-icon-only {
            padding-left: 11px !important;
            padding-right: 11px !important;

            .icon {
                margin: 0;
            }
        }

        &.button-subtle {
            background: $grey-10;
            border: 1px solid $grey-20;
            box-shadow: none;
            color: $grey-50;
        }


        &.button-size-md,
        &.button-size-md.button-label {
            font-size: 14px;
            line-height: 22px;
            padding: 4px 16px;

            @media (min-width: 1200px) {
                font-size: 16px;
                line-height: 24px;
                padding: 6px 20px;
            }

            @media (min-width: 1600px) {
                font-size: 18px;
                line-height: 26px;
                padding: 8px 22px;
            }
        }

        &.button-wide {
            min-width: 120px;
            text-align: center;
        }

        &.button-left {
            border-radius: 5px 0 0 5px;
        }

        &.button-center {
            border-radius: $border-radius-none;
            margin-left: -5px;
        }

        &.button-right {
            margin-left: -5px;
            border-radius: 0 5px 5px 0;
        }
    }
}