.sg-markup-base-button-html .sg-example {
  .col {
    margin-bottom: 1.6rem;

    &.col-6 {
      grid-gap: 0;
    }
  }

  p.col-header {
    font-size: 12px;
  }
}

.button,
button {
  background-color: $blue-50;
  border: 1px solid transparent;
  border-radius: 4px;
  color: $blue-10;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.4px;
  position: relative;
  text-decoration: none;

  &:visited {
    color: $blue-10;
  }

  // Shared
  .icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    top: -2px;
    width: 20px;
  }

  &.variant-icon {
    .icon {
      background-image: url("../images/icon/icon-20-plus-white.svg");
      //background-image: url("../images/icon/icon-16-chevron-down-white.svg");

      left: -2px;
      margin-right: 2px;
    }
  }

  &.variant-chevron {
    .icon-chevron {
      background-image: url("../images/icon/icon-16-chevron-down-white.svg");
      height: 16px;
      right: -8px;
      width: 16px;
    }
  }

  &.variant-icon-only {
    // Roughly make the icon square
    padding-left: 11px !important;
    padding-right: 11px !important;

    .icon {
      background-image: url("../images/icon/icon-20-fill-coaching-coached-white.svg");
      margin: 0;
    }
  }

  &:visited {
    background-color: $blue-50;
  }

  &:hover,
  &.button-hover {
    background-color: $blue-40;
    color: #fff;
  }

  &:active,
  &:focus,
  &.button-active,
  &.button-focus {
    background-color: $blue-60;
    color: #fff;
  }

  &.button-disabled {
    background-color: $blue-10;
    border: 1px solid transparent;
    box-shadow: none;
    color: $blue-20;
    cursor: default;
  }

  &.button-secondary {
    background-color: $grey-50;
    color: $grey-10;

    &:hover,
    &.button-hover {
      background-color: $grey-40;
      color: #fff;
    }

    &:active,
    &:focus,
    &.button-active,
    &.button-focus {
      background-color: $grey-60;
    }

    &.button-disabled {
      background-color: $grey-10;
      color: $grey-20;
    }
  }

  &.button-subtle {
    background-color: $grey-10;
    border: 1px solid $grey-20;
    box-shadow: none;
    color: $grey-50;

    &:hover,
    &.button-hover {
      background-color: #fff;
      color: $grey-60;
    }

    &:active,
    &:focus,
    &.button-active,
    &.button-focus {
      background-color: #fff;
      color: $grey-70;
    }

    &.button-disabled {
      background-color: $grey-10;
      border: 1px solid transparent;
      color: $grey-20;
    }
  }

  &.button-save {
    background-color: $green-50;
    color: $green-10;

    &:hover,
    &.button-hover {
      background-color: $green-40;
      color: #fff;
    }

    &:active,
    &:focus,
    &.button-active,
    &.button-focus {
      background-color: $green-60;
    }

    &.button-disabled {
      background-color: $green-10;
      color: $green-20;
    }
  }

  &.button-delete {
    background-color: $red-50;
    color: $red-10;

    &:hover,
    &.button-hover {
      background-color: $red-40;
      color: #fff;
    }

    &:active,
    &:focus,
    &.button-active,
    &.button-focus {
      background-color: $red-60;
    }

    &.button-disabled {
      background-color: $red-10;
      color: $red-20;
    }
  }

  &.button-warning {
    background-color: $yellow-50;
    color: $yellow-10;

    &:hover,
    &.button-hover {
      background-color: $yellow-40;
      color: #fff;
    }

    &:active,
    &:focus,
    &.button-active,
    &.button-focus {
      background-color: $yellow-60;
    }

    &.button-disabled {
      background-color: $yellow-10;
      color: $yellow-20;
    }
  }

  &.button-label {
    background: none;
    box-shadow: none;
    color: $grey-30;
    font-weight: 400;
    padding-left: 0 !important;
  }

  &.button-size-sm,
  &.button-size-sm.button-label {
    font-size: 10px;
    line-height: 18px;
    padding: 4px 16px;

    @media (min-width: 1200px) {
      font-size: 12px;
      line-height: 20px;
      padding: 6px 16px;
    }

    @media (min-width: 1600px) {
      font-size: 14px;
      line-height: 22px;
      padding: 6px 20px;
    }
  }

  &.button-size-md,
  &.button-size-md.button-label {
    font-size: 12px;
    line-height: 20px;
    padding: 6px 16px;

    @media (min-width: 1200px) {
      font-size: 14px;
      line-height: 22px;
      padding: 8px 22px;
    }

    @media (min-width: 1600px) {
      font-size: 16px;
      line-height: 24px;
      padding: 8px 22px;
    }
  }

  &.button-size-lg,
  &.button-size-lg.button-label {
    font-size: 14px;
    line-height: 22px;
    padding: 8px 22px;

    @media (min-width: 1200px) {
      font-size: 16px;
      line-height: 24px;
      padding: 8px 22px;
    }

    @media (min-width: 1600px) {
      font-size: 18px;
      line-height: 26px;
      padding: 10px 24px;
    }
  }
}
