// Link
.sg-markup-base-link-html .sg-example {
    .link {
        &.link-disabled {
            color: $blue-20;
        }

        &.link-subtle {
            color: $grey-50;

            &.link-hover {
                color: $grey-60;
            }

            &.link-active,
            &.link-focus {
                color: $grey-70;
            }

            &.link-disabled {
                color: $grey-20;
            }
        }

        &.link-delete {
            color: $red-50;

            &.link-hover {
                color: $red-60;
            }

            &.link-active,
            &.link-focus {
                color: $red-70;
            }

            &.link-disabled {
                color: $red-20;
            }
        }
    }
}