.sg-markup-base-type-html .sg-example {
    h1 {
        margin: 0 0 34px 0;
    }

    h2 {
        margin: 56px 0 28px 0;
    }

    h3 {
        margin: 32px 0 21px 0;
    }

    h4 {
        margin: 28px 0 14px 0;
    }

    h5 {
        margin: 28px 0 14px 0;
    }

    h6 {
        margin: 28px 0 14px 0;
    }

    ol,
    ul {
        margin: 0;
        padding: 0 0 0 22px;

        ol,
        ul {

            margin: 6px 0;
        }
    }
}