.sg-markup-Brand-font-html .sg-example {
  p {
    &.font-open-sans {
      font-family: $font-body;
    }
    &.font-roboto {
      font-family: $font-mobile;
    }
    &.font-italic {
      font-style: italic;
    }
    &.font-300 {
      font-weight: 300;
    }
    &.font-600 {
      font-weight: 600;
    }
    &.font-700 {
      font-weight: 700;
    }
  }
}
