.sg-main .sg-markup-Brand-Logo-html .sg-sub-section .col.col-4 {
  grid-template-columns: 1fr;
  @media (min-width: 1200px) {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

.sg-markup-Brand-Logo-html .sg-example {

  p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
  }

  // Shared
  .logo {
    background: {
      position: 0 0;
      repeat: no-repeat;
      size: contain;
    };
    min-height: 40px;
  }

  .logo-type-kt {
    background-image: url("../images/logo-type-kt.svg");
  }

  .logo-symbol-kt {
    background-image: url("../images/logo-symbol-kt.svg");
  }

  .app-icon-kt {
    background-image: url("../images/app-icon-kt.svg");
  }

  .app-avatar-kt {
    background-image: url("../images/app-avatar-kt.svg");
  }
}
